	<ul{% if list_class %} class="{{ list_class }}"{% endif %} class="second-level-nav">
		{% if arrow %} <li class="arrow-up"></li> {% endif %}
		<li class="first{% if level_1 == 'partner-programmes' and not level_2 %} active{% endif %}"><a href="/partner-programmes">Overview</a></li>
		<li{% if level_2 == 'certified-public-cloud' %} class="active" {% endif %}><a href="/partner-programmes/certified-public-cloud">Certified Public cloud</a></li>
		<li{% if level_2 == 'phone-carrier' %} class="active" {% endif %}><a href="/partner-programmes/phone-carrier">Phone carriers</a></li>
		<li{% if level_2 == 'reseller' %} class="active" {% endif %}><a href="/partner-programmes/reseller">Reseller</a></li>
		<li{% if level_2 == 'retailer' %} class="active"{% endif %}><a href="/partner-programmes/retailer">Retailer</a></li>
		<li{% if level_2 == 'hardware' %} class="active"{% endif %}><a href="/partner-programmes/hardware">Hardware</a></li>
		<li{% if level_2 == 'software' %} class="active"{% endif %}><a href="/partner-programmes/software">Software</a></li>
		<li{% if level_2 == 'openstack' %} class="last-item" {% endif %}{% if level_2 == 'openstack' %} class="active"{% endif %}><a href="/partner-programmes/openstack">OpenStack</a></li>
	</ul>
