{% extends "templates/base_index.html" %}

{% block title %}Ubuntu hardware partners{% endblock %}
{% block meta_description %}The Canonical Technical Partner Program defines a process for collaboration between Canonical and IHV's. It helps IHVs understand how Ubuntu is developed and enhanced, and what is planned for the next release.{% endblock %}
{% block meta_keywords %}Ubuntu, Technical Partners,IHVs,Technical Partner program,Technical collaboration,technical partnership,Technical certification,Hardware,certification,driver support,driver certification,Canonical certification programs,component certification{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="Hardware" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="eight-col">
		<h1>Ubuntu hardware partners</h1>
		<p>Partnering with Canonical is a great way to keep your products ahead of the competition. The Technical Partner Programme gives you access to information, tools and training that can help you get to market quicker and for less. And in retail and online, we work with our hardware partners on the promotion of Ubuntu to consumers and businesses.</p>
	</div>
</div>
{% if programme_partners %}
<div class="row">
	<div class="twelve-col">
		<h3 class="caps-centered">A selection of our hardware partners</h3>
		<ul class="inline-logos no-bullets">
			{% for partner in programme_partners %}
				<li{% if forloop.last %} class='last-item'{% endif %}><img src="{{ partner.logo }}" alt="{{ partner.name }}" /></li>
			{% endfor %}
		</ul>
		<p class="align-center"><a href="/find-a-partner/openstack">See all OpenStack hardware partners&nbsp;&rsaquo;</a></p>
		<p class="align-center"><a href="/find-a-partner/oem+chipset">See all OEM and chipset partners&nbsp;&rsaquo;</a></p>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="eight-col">
		<h2>Get ahead with Ubuntu and Canonical</h2>
		<p>As Ubuntu use grows around the world, demand for compatible devices is increasing fast. From thin clients, desktops and laptops to enterprise servers, manufacturers are looking to capitalise.</p>
		<p>To get to market quicker and reduce costs, OEMs and their partners need components that are compatible with the latest Ubuntu releases. For IHVs and ISVs, the big question is how to develop, test and certify such products.</p>
		<p>The answer is to work with Canonical, the company sponsoring the Ubuntu project. OEMs, IHVs, ISVs and peripheral manufacturers can subscribe to the Canonical Technical Partner Programme, which provides all the information, tools and training a manufacturer needs to keep its products ahead of the Ubuntu development curve.</p>
		<p>In addition to the Technical Partner Programme, we work together with the world’s leading silicon vendors and OEMs to install Ubuntu on their hardware and ensure it works seamlessly. These partnerships result in the worldwide availability of stable, secure and performance-optimised Ubuntu devices.</p>
	</div>
	<div class="four-col last-col">
		<img src="http://placehold.it/289x250/" alt="" />
	</div>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What you get when you work with us</h2>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Official hardware testing and certification</li>
			<li>Custom development services</li>
			<li class="last-item">Product training and competence transfer</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>A global engineering network and support infrastructure</li>
			<li class="last-item">Marketing planning and assistance to support joint solutions and new revenue opportunities</li>
		</ul>
	</div>
</div>
{% include "templates/_contextual-footer.html" %}

{% endblock %}