{% extends "templates/base_index.html" %}

{% block title %}Ubuntu partner programmes | {% endblock %}
{% block meta_description %}Canonical offers a range of Ubuntu partner programmes covering everything from ISVs and cloud technology to mobile carriers and hardware enablement.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, server, ISV, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block second_level_nav_items %}
	<nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="Overview" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-border row-image-centered">
	<div class="eight-col">
		<h1>Ubuntu partner programmes</h1>
		<p>At Canonical, we run a range of partner programmes to help OEMs, ODMs, ISVs, IHVs, cloud operators and mobile carriers maximise the revenue opportunities Ubuntu provides.</p>
	</div>
	<span>
		<img width="180" src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/pictograms/picto-pack/picto-partner-warmgrey.svg" alt="Partners" />
	</span>
</div>
<div class="row no-border">
	<div class="twelve-col">
		<h2>A variety of partner programmes</h2>
	</div>
	<div class="equal-height">
		<div class="four-col box">
			<h3><a href="/partner-programmes/public-cloud">Public cloud providers&nbsp;&rsaquo;</a></h3>
			<p>We provide optimised Ubuntu images, management and commercial support to the world&rsquo;s biggest clouds. </p>
		</div>
		<div class="four-col box">
			<h3><a href="/partner-programmes/phone-carrier">Mobile network carriers&nbsp;&rsaquo;</a></h3>
			<p>Through the Ubuntu Carrier Advisory Group (CAG), we give carriers and handset makers the opportunity to help shape the Ubuntu&rsquo;s mobile strategy.</p>
		</div>
		<div class="four-col last-col box">
			<h3><a href="/partner-programmes/reseller">Resellers&nbsp;&rsaquo;</a></h3>
			<p>Resellers can expand their service portfolios with Ubuntu Advantage &mdash; management and support for Ubuntu.</p>
		</div>
	</div>
	<div class="equal-height">
		<div class="four-col box">
			<h3><a href="/partner-programmes/retail">Retailers&nbsp;&rsaquo;</a></h3>
			<p>We provide marketing materials to help retailers boost footfall, revenues and profits by selling PCs from the world&rsquo;s leading brands pre-loaded with Ubuntu.</p>
		</div>
		<div class="four-col box">
			<h3><a href="/partner-programmes/openstack">The OpenStack Interoperability Lab (OIL)&nbsp;&rsaquo;</a></h3>
			<p>An integration lab in which we test our cloud partners&rsquo; products in countless Ubuntu OpenStack configurations, currently working with over 3,000 combinations per month.</p>
		</div>
		<div class="four-col box last-col">
			<h3><a href="/partner-programmes/hardware">Hardware and component manufacturers&nbsp;&rsaquo;</a></h3>
			<p>We provide an end-to-end solution for manufacturers of Intel, AMD or ARM-based servers and client devices, including Dell, HP and Lenovo, to them get to market on time and on budget.</p>
		</div>
	</div>
	<div class="equal-height">
		<div class="four-col last-col box">
			<h3><a href="/partner-programmes/software">Independent software vendors (ISVs)&nbsp;&rsaquo;</a></h3>
			<p>The Canonical Technical Partner programme provides all the information, tools and training necessary to stay ahead of the Ubuntu development curve.</p>
		</div>
	</div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}