{% extends "templates/base_index.html" %}

{% block title %}Ubuntu OpenStack partners | {% endblock %}
{% block meta_description %}Engage with the Ubuntu OpenStack Interoperability Lab (Ubuntu OIL) to develop and test your technologies’ interoperability with Ubuntu OpenStack and a range of software and hardware.{% endblock %}
{% block meta_keywords %}Cloud, OpenStack, Ubuntu, Server, Interoperability, testing, integration, ecosystem, UOIL, development, validation, affiliate, supporter, Technical Partner Progamme, lab, laboratory{% endblock %}

{% block second_level_nav_items %}
	<nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="OpenStack" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<img class="priority-0" src="http://assets.ubuntu.com/sites/ubuntu/latest/u/img/cloud/ubuntu-openstack/image-ubuntuopenstack.svg">
	<div class="seven-col">
		<h1>Ubuntu OpenStack partners</h1>
		<p>The Ubuntu OpenStack Interoperability Lab (OIL)  is an integration lab in which we test our cloud partners&rsquo; products in countless Ubuntu OpenStack configurations, over and over again. Currently we are working with over 3,000 combinations per month. </p>
	</div>
</div>
<div class="row">
	<div class="twelve-col">
		<h3 class="caps-centered">A selection of our OpenStack partners</h3>
		<div class="list-auto twelve-col">
			<ul class="inline-logos no-bullets">
				{% for partner in programme_partners %}
					<li{% if forloop.last %} class='last-item'{% endif %}><img src="{{ partner.logo }}" alt="{{ partner.name }}" /></li>
				{% endfor %}
			</ul>
		</div>
		<div class="twelve-col">
			<p class="align-center"><a href="/find-a-partner?programme=openstack">See all OpenStack partners&nbsp;&rsaquo;</a></p>
		</div>
	</div>
</div>
<div class="row equal-height">
	<div class="seven-col">
		<h2>Proven integration testing</h2>
		<p>The Ubuntu OpenStack ecosystem is growing fast. This is good news.  But as the hardware and software options for cloud building grow, so does the task of ensuring interoperability between all the components.</p>
		<p>Canonical has a long history of interoperability testing between OpenStack and Ubuntu.  To bring the benefits of our work to the rest of the ecosystem, we’ve launched the Ubuntu OpenStack Interoperability Lab, making it easier for you to QA the compatibility of your products with the world’s leading open cloud platform.</p>
		<h2>A sophisticated testing and integration process</h2>
		<p>Our process tests current and future developments of OpenStack against current and future developments of Ubuntu Server and Server LTS. As the ecosystem has grown we&rsquo;ve expanded it to include different guest OSs, hypervisors and software-defined networking (SDN) stacks. We’ve also worked with partners familiar with Ubuntu and OpenStack but unfamiliar with Juju, MAAS and charms, to help them more fully integrate their solution with Ubuntu.</p>
		<p>It&rsquo;s never been more important to test your hardware and software against the entire OpenStack ecosystem.  So how do you get involved?</p>
	</div>
	<div class="five-col last-col align-center align-vertically">
		<img src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/cloud/ecosystem/ubuntu-oil/image-ubuntuopenstackinteroperabilitylab.svg" class="priority-0">
	</div>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
		<p>As a partner involved in the interoperability lab you can expect:</p>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Comprehensive interoperability testing of your products</li>
			<li>Continuous, regular reporting on the results of the tests</li>
			<li>Assistance in the development of the tests themselves</li>
			<li>Ongoing maintenance and tuning of Ubuntu OpenStack</li>
			<li class="last-item">Technical alignment to synchronise development timelines</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Training on the creation, adaptation and real-world use of Ubuntu Charms</li>
			<li>Marketing assistance, including entry into our list of compatible solutions, joint revenue opportunities and support for joint solutions</li>
			<li class="last-item">Training in maximising returns on your relationship with Canonical</li>
		</ul>
	</div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}