{% extends "templates/base_index.html" %}

{% block title %}Ubuntu Certified Public cloud | {% endblock %}
{% block meta_description %}Canonical has partnered with the very best software and solutions companies to extend and support and build Ubuntu OpenStack clouds.{% endblock %}
{% block meta_keywords %}Ubuntu OpenStack, cloud ecosystem, cloud partners, cloud consulting, cloud tools, Canonical{% endblock %}

{% block second_level_nav_items %}
	<nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="Certified Public cloud" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-border">
	<div class="eight-col">
		<h1>Ubuntu Certified Public Cloud</h1>
		<p>Ubuntu is enormously popular with providers delivering public cloud services today. Together with significant developer mindshare, a favourable licensing model and a policy of regular updates have made Ubuntu the number one platform for cloud guests, the world over.</p>
		<p>If you operate a public cloud or you&rsquo;re considering launching one, the Ubuntu Certified Public Cloud programme lets you make certified Ubuntu Server images available to your users, along with the opportunity to sell management, monitoring and commercial support from Canonical &ndash; all of which represent additional revenue opportunities. </p>
	</div>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
		<p>As a partner in the Ubuntu Certified Public Cloud programme you can expect:</p>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Be featured as a certified partner on the Ubuntu website, including the ability to use Ubuntu Public Cloud certification logos</li>
			<li>Joint marketing, including entry into our list of public clouds partners</li>
			<li class="last-item">Revenue-sharing upsells of management tooling <a href="http://www.ubuntu.com/management">Ubuntu Advantage with Landscape</a></li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Certified Ubuntu cloud images, tuned and tested to your environment</li>
			<li>Regular refresh of Ubuntu images increases security</li>
			<li>Automated publication across all cloud availability zones facilitates operations</li>
			<li class="last-item">Local Ubuntu archive mirrors deliver a fast maintenance and software installation experience</li>
		</ul>
	</div>
</div>
<div class="row no-border">
	<div class="twelve-col">
		<h3 class="caps-centered">A selection of our cloud partners</h3>
		<p>We already work with the world&rsquo;s leading public cloud providers, our Premier Certified Public Cloud partners, collaborating with them on the technological developments that are driving cloud computing forward. These include <a href="https://juju.ubuntu.com">Juju</a>, a groundbreaking service orchestration tool bringing rapid deployment of complex applications to any cloud.</p>
		<div class="ten-col push-one append-one">
			<ul class="inline-logos no-bullets">
				{% for partner in programme_partners %}
					<li{% if forloop.last %} class='last-item'{% endif %}><img src="{{ partner.logo }}" alt="{{ partner.name }}" /></li>
				{% endfor %}
			</ul>
		</div>
		<p class="align-center"><a href="/find-a-partner">See all public cloud partners&nbsp;&rsaquo;</a></p>
	</div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}