{% extends "templates/base_index.html" %}

{% block title %}Ubuntu reseller partners | {% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block second_level_nav_items %}
	<nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="Reseller" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero equal-height">
	<div class="seven-col">
		<h1>Ubuntu reseller partners</h1>
		<p>Canonical works with reseller partners around the world to ensure that local expertise is available to Ubuntu users on every continent. From OpenStack consulting to hardware sales and the provision of Ubuntu Advantage service contracts, the Ubuntu reseller ecosystem is growing by the day. <a href="/contact-us">Contact us today to learn how your business could benefit from joining the programme</a>.</p>
	</div>
	<div class="five-col last-col align-center align-vertically">
		<img src="http://assets.ubuntu.com/sites/ubuntu/latest/u/img/management/image-management.svg">
	</div>
</div>

<div class="row">
	<div class="twelve-col">
		<h3 class="caps-centered">A selection of our reseller partners</h3>
		<div class="list-auto twelve-col">
			<ul class="inline-logos no-bullets">
				{% for partner in programme_partners %}
					<li{% if forloop.last %} class='last-item'{% endif %}><img src="{{ partner.logo }}" alt="{{ partner.name }}" /></li>
				{% endfor %}
			</ul>
		</div>
		<div class="twelve-col">
			<p class="align-center"><a href="/find-a-partner?programme=reseller">Browse all reseller partners&nbsp;&rsaquo;</a></p>
		</div>
	</div>
</div>

<div class="row row-hero no-border equal-height">
	<div class="eight-col">
		<h2>Provide services with Canonical&rsquo;s backing</h2>
		<p>Whether you&rsquo;re a value-add reseller (VAR) or a systems integrator, the Ubuntu reseller programme provides valuable training, certification and, above all, direct access to the technologists at Canonical. This means you can deploy Ubuntu solutions for your customers with confidence.</p>
	</div>
	<div class="four-col last-col align-center align-vertically">
		<img class="priority-0" width="150" alt="Canonical Logo" src="http://assets.ubuntu.com/sites/ubuntu/latest/u/img/pictograms/picto-pack/picto-canonical.svg">
	</div>
</div>

<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
		<p>As a reseller partner in the Ubuntu programme you can expect:</p>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Opportunities to profit from Ubuntu Advantage support contracts</li>
			<li>Technical training for your customer-facing team on the latest features of Ubuntu</li>
			<li>The marketing benefits of certification</li>
			<li class="last-item">Permission to use the Canonical and Ubuntu trademarks in your own materials</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Close collaboration and technical support from the engineers who develop Ubuntu</li>
			<li>VIP invitations to Canonical events in your country</li>
			<li class="last-item">Inside information on forthcoming developments in Ubuntu</li>
		</ul>
	</div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}