{% extends "templates/base_index.html" %}

{% block title %}Ubuntu reseller partners{% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="Reseller" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-border">
	<div class="eight-col">
		<h1>Reseller partners</h1>
	</div>
</div>


<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
		<p>As a reseller partner in the Ubuntu programme you can expect:</p>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed turpis sit amet velit vestibulum hendrerit</li>
			<li>Sed rhoncus metus congue massa auctor rutrum. Duis rutrum orci non libero mattis, nec sollicitudin leo imperdiet. Nulla vehicula id libero id eleifend. Curabitur sit amet varius massa, et scelerisque dolor</li>
			<li class="last-item">Maecenas faucibus est at gravida mattis</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Etiam lacinia, eros vitae interdum blandit, lorem nulla gravida enim, eget dignissim ipsum libero eget sem</li>
			<li>Mauris lacus lectus</li>
			<li class="last-item">Fusce a ante malesuada, venenatis metus et, scelerisque orci. Praesent accumsan rhoncus ante, non laoreet nunc accumsan non. Proin id eros tincidunt</li>
		</ul>
	</div>
</div>

<div class="row no-border">
	<div class="twelve-col">
		<h3 class="caps-centered">Ubuntu reseller partnerships</h3>
		<p>INSERT ROW OF RESELLER LOGO'S</p>
		<p><a href="/find-a-partner">Browse all Ubuntu resellers&nbsp;&rsaquo;</a></p>
	</div>
</div>


<div id="context-footer" class="{{ level_1 }}-context-footer no-border">
<hr />
	<div class="twelve-col vertical-divider">
		<div class="feature-one six-col">
			<h3>Partner programmes</h3>
			<p>Interested in becoming an Ubuntu partner? Learn more about the benefits of working with Canonical.</p>
			<p><a href="/partners-programmes">Learn more about partner programmes&nbsp;&rsaquo;</a></p>
		</div>
		<div class="feature-two six-col last-col">
			<h3>Find a partner</h3>
			<p>Looking for Ubuntu products or services? Search or select from the complete list of our partners.</p>
			<p><a href="/find-a-partner">Find a partner&nbsp;&rsaquo;</a></p>
		</div>
	</div>
</div>

{% endblock %}