{% extends "templates/base_index.html" %}

{% block title %}Ubuntu software partners{% endblock %}
{% block meta_description %}The Canonical Technical Partner Program defines a process for collaboration between Canonical and IHV's. It helps IHVs understand how Ubuntu is developed and enhanced, and what is planned for the next release.{% endblock %}
{% block meta_keywords %}Ubuntu, Technical Partners,IHVs,Technical Partner program,Technical collaboration,technical partnership,Technical certification,software,certification,driver support,driver certification,Canonical certification programs,component certification{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="software" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="eight-col">
		<h1>Ubuntu software partners</h1>
		<p>Partnering with Canonical is a great way to keep your products ahead of the competition. The Technical Partner Programme gives access to the latest Ubuntu information, tools and training to help you get to market quicker and for less.</p>
	</div>
</div>
<div class="row">
	<div class="twelve-col">
		<h3 class="caps-centered">A selection of our software partners</h3>
		<p>INSERT ROW OF SOFTWARE PARTNER LOGO'S</p>
		<p><a href="/find-a-partner/openstack">See all OpenStack software partners&nbsp;&rsaquo;</a></p>
		<p><a href="/find-a-partner/oem+chipset">See all OEM and chipset partners&nbsp;&rsaquo;</a></p>
	</div>
</div>
<div class="row">
	<div class="eight-col">
		<h2>Get ahead with Ubuntu and Canonical</h2>
		<p>As Ubuntu use grows around the world there&rsquo;s an increasing demand for fully compatible devices. The need spans software (servers, desktops, laptops and more) and enterprise software, and manufacturers are looking to capitalise.</p>
		<p>To get to market quicker and reduce costs, OEMs and their partners need components that are compatible with the latest Ubuntu releases. For IHVs and ISVs, the big question is how to develop, test and certify such products.</p>
		<p>The answer is to work with Canonical, the company sponsoring the Ubuntu project. OEMs, IHVs, ISVs and peripheral manufacturers can subscribe to the <strong>Canonical Technical Partner Programme</strong>, which provides all the information, tools and training a manufacturer needs to keep its products ahead of the Ubuntu development curve</p>
	</div>
	<div class="four-col last-col">
		<img src="http://placehold.it/289x250/" alt="" />
	</div>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
		<p>As a software partner in the Ubuntu programme you can expect:</p>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed turpis sit amet velit vestibulum hendrerit</li>
			<li>Sed rhoncus metus congue massa auctor rutrum. Duis rutrum orci non libero mattis, nec sollicitudin leo imperdiet. Nulla vehicula id libero id eleifend. Curabitur sit amet varius massa, et scelerisque dolor</li>
			<li class="last-item">Maecenas faucibus est at gravida mattis</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Etiam lacinia, eros vitae interdum blandit, lorem nulla gravida enim, eget dignissim ipsum libero eget sem</li>
			<li>Mauris lacus lectus</li>
			<li class="last-item">Fusce a ante malesuada, venenatis metus et, scelerisque orci. Praesent accumsan rhoncus ante, non laoreet nunc accumsan non. Proin id eros tincidunt</li>
		</ul>
	</div>
</div>
<div id="context-footer" class="{{ level_1 }}-context-footer no-border">
<hr />
	<div class="feature-one six-col">
		<h3>Talk to us about becoming a partner</h3>
		<p>Interested in becoming an Ubuntu partner? Talk to us today to learn more about our programmes.</p>
		<p><a href="/contact">Contact us about becoming a partner&nbsp;&rsaquo;</a></p>
	</div>
	<div class="feature-two six-col last-col">
		<h3>Partner programmes</h3>
		<p>Interested in becoming an Ubuntu partner? Learn more about the benefits of working with Canonical.</p>
		<p><a href="/partners-programmes">Learn more about partner programmes&nbsp;&rsaquo;</a></p>
	</div>
</div>

{% endblock %}