{% extends "templates/base_index.html" %}

{% block title %}Ubuntu software partners | {% endblock %}
{% block meta_description %}The Canonical Technical Partner Program defines a process for collaboration between Canonical and IHV's. It helps IHVs understand how Ubuntu is developed and enhanced, and what is planned for the next release.{% endblock %}
{% block meta_keywords %}Ubuntu, Technical Partners,IHVs,Technical Partner program,Technical collaboration,technical partnership,Technical certification,software,certification,driver support,driver certification,Canonical certification programs,component certification{% endblock %}

{% block second_level_nav_items %}
	<nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Partner programmes" page_title="software" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="eight-col">
		<h1>Ubuntu software partners</h1>
		<p>Ubuntu has a thriving software ecosystem, with thousands of applications available for the PC, the server and the cloud &mdash; targeting both the enterprise and consumer markets. </p>
		<p>We offer a range of benefits for ISVs looking to formalise their work with Ubuntu, through Canonical. As a certified partner, you&rsquo;ll get inside information on forthcoming Ubuntu developments, assistance in testing and optimising your applications with Ubuntu and OpenStack &mdash; and priority access to Ubuntu engineers.</p>
	</div>
	<img class="priority-0" src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/phone/scopes/image-scopes.jpg">
</div>
<div class="row">
	<div class="twelve-col">
		<h3 class="caps-centered">A selection of our software partners</h3>
		<div class="list-auto twelve-col">
			<ul class="inline-logos no-bullets">
				{% for partner in programme_partners %}
					<li{% if forloop.last %} class='last-item'{% endif %}><img src="{{ partner.logo }}" alt="{{ partner.name }}" /></li>
				{% endfor %}
			</ul>
		</div>
		<div class="twelve-col">
			<p class="align-center"><a href="/find-a-partner?programme=technical-partner-programme+openstack-interoperability-lab">See all OpenStack software partners&nbsp;&rsaquo;</a></p>
			<!--TODO: get a link for this<p class="align-center"><a href="/find-a-partner">ISV and software partners&nbsp;&rsaquo;</a></p>-->
		</div>
	</div>
</div>
<div class="row no-border equal-height">
	<div class="eight-col">
		<h2>Cloud software partners</h2>
		<p>Ubuntu is the world&rsquo;s leading cloud operating system &mdash; both as a guest image to run on public cloud platforms like Amazon Web Services and Microsoft Azure &mdash; and as an infrastructure platform on which to build private OpenStack clouds. As a result, Canonical has cultivated a huge ecosystem of cloud software partners, many of whom test and optimise their software in Canonical&rsquo;s Ubuntu OpenStack Interoperability Lab (OIL).</p>
		<p>By partnering with Canonical, you can access a huge ecosystem of developers across all the major cloud platforms, making it easy to deploy and scale out your software. And you can be part of the rich Ubuntu OpenStack ecosystem, reaching the largest market of customers who are already deploying production OpenStack clouds.</p>
	</div>
	<div class="four-col last-col align-center align-vertically">
		<img class="priority-0" width="250" src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/cloud/image-ecosystem.svg">
	</div>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Priority access to the Canonical Cloud and Server Roadmap, and to Ubuntu engineers</li>
			<li>Licenses for up to three Landscape Dedicated Servers for systems management</li>
			<li class="last-item">Optimisation of cloud applications in the Ubuntu OpenStack Interoperability Lab (OIL)</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Support in developing Juju charms for your products, plus entry into the Juju Charm Store </li>
			<li class="last-item">Marketing assistance and assets to help promote your products</li>
		</ul>
	</div>
</div>
<div class="row no-border row-image-centered">
	<div class="eight-col">
		<h2>App developer partners</h2>
		<p>Thanks to the ease with which users can find and install software using the Ubuntu Software Centre, Ubuntu already supports thousands of client applications. With the launch of Ubuntu phones and tablets &mdash; and the resulting opportunity to target three client platforms with just one codebase &mdash; the Ubuntu app market is set to grow exponentially. </p>
	</div>
	<span>
		<img class="priority-0" width="150" src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/pictograms/picto-pack/picto-developer-warmgrey.svg">
	</span>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What&rsquo;s included?</h2>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>The Ubuntu SDK, allowing you to build one app for PC, smartphone and cloud</li>
			<li class="last-item">Easy, single upload to the Ubuntu Software Centre</li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Priority access to the engineers that develop Ubuntu</li>
			<li class="last-item">Marketing assistance and assets to help promote your apps</li>
		</ul>
	</div>
</div>
{% include "templates/_contextual-footer.html" %}

{% endblock %}