<div id="context-footer" class="{{ level_1 }}-context-footer no-border">
<hr />
	<div class="twelve-col vertical-divider">
		<div class="feature-one six-col">
			<h3>Partner programmes</h3>
			<p>Interested in becoming a reseller partner? Talk to us today to learn more about our programmes.</p>
			<p><a href="/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
		</div>
		{% if level_1 == 'find-a-partner' %}
		<div class="feature-two six-col last-col">
			<h3>Further reading from Ubuntu insights</h3>
			<div id="insights-footer-feed"></div>
		</div>
		{% else %}
		<div class="feature-two six-col last-col search">
			<h3>Find a partner</h3>
			<img src="{{ STATIC_URL }}img/partners-search.svg" alt="Search" height="100" width="100" />
			<p>Do you offer more services to you customers? Learn more about our other partner programmes.</p>
			<p><a href="/find-a-partner">Other Ubuntu partner programmes&nbsp;&rsaquo;</a></p>
		</div>
		{% endif %}
	</div>
</div>