<section class="p-strip is-bordered">
  <div class="row">
    <div class="row p-divider">
      {% if level_1 == Null %}
      <div class="feature-one col-6 p-divider__block">
        <h3>Partner programmes</h3>
        <p>Interested in becoming an Ubuntu partner? Learn more about the benefits of working with Canonical.</p>
        <p><a href="/programmes">See all partner programmes&nbsp;&rsaquo;</a></p>
      </div>
      <div class="feature-two col-6 p-divider__block">
        <h3>Find a partner</h3>
        <p>Looking for a supplier with Ubuntu expertise? or select from the complete list of our partners.</p>
        <p><a href="/find-a-partner">Browse partners&nbsp;&rsaquo;</a></p>
      </div>
      {% elif level_1 == 'programmes' %}
      {% if level_2 %}
      <div class="feature-one col-6 p-divider__block">
        <h3>Become an Ubuntu partner</h3>
        <p>Interested in becoming an Ubuntu partner? Talk to us today to learn more about our programmes.</p>
        <p><a href="/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
      </div>
      {% if level_2  == 'charm' %}
      <div class="feature-two col-6 p-divider__block">
        <h3>Further reading</h3>
        <p><a class="external" href="https://insights.ubuntu.com/2016/02/21/charm-partner-programme/">Charm partner   programme datasheet</a></p>
      </div>
      {% else %}
      {% if level_2  == 'public-cloud' %}
      <div class="feature-two col-6 p-divider__block">
        <h3>Further reading</h3>
        <ul class="p-list">
          <li cloud="p-list__item"><a class="external" href="https://insights.ubuntu.com/2016/10/07/ubuntu-certified-public-cloud-programme-2/">Ubuntu Certified Public Cloud programme datasheet</a></li>
          <li cloud="p-list__item"><a class="external" href="https://insights.ubuntu.com/2016/01/14/5-reasons-you-should-only-use-certified-images-on-the-public-cloud/">Certified Ubuntu Cloud Guest eBook</a></li>
        </ul>
      </div>
      {% else %}
      <div class="feature-two col-6 p-divider__block">
        <h3>Partner programmes</h3>
        <p>Do you offer different services to your customers? Learn more about other Ubuntu partner engagements.</p>
        <p><a href="/programmes">Find the right programme for you&nbsp;&rsaquo;</a></p>
      </div>
      {% endif %}
      {% endif %}
      {% else %}
      <div class="feature-one col-6 p-divider__block">
        <h3>Become an Ubuntu partner</h3>
        <p>Interested in becoming an Ubuntu partner? Talk to us today to learn more about our programmes.</p>
        <p><a href="/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
      </div>
      <div class="feature-two col-6 p-divider__block">
        <h3>Find a partner</h3>
        <p>Looking for a supplier with Ubuntu expertise? or select from the complete list of our partners.</p>
        <p><a href="/find-a-partner">Find a partner&nbsp;&rsaquo;</a></p>
      </div>
      {% endif %}
      {% elif level_1 == 'find-a-partner' %}
      <div class="feature-one col-6 p-divider__block">
        <h3>Become a partner</h3>
        <p>Interested in becoming a partner? Talk to us today for more information about our programmes and certification.</p>
        <p><a href="/contact-us">Get in touch&nbsp;&rsaquo;</a></p>
      </div>
      <div class="feature-two col-6 p-divider__block">
        <h3>Get services and support</h3>
        <p>Get on-site consulting services and training, direct from engineers involved in developing Ubuntu or subscribe to Ubuntu Advantage for systems management and support.</p>
        <p><a href="https://www.ubuntu.com/support/plans-and-pricing" class="external">Learn more about Ubuntu Advantage</a></p>
      </div>
      {% elif level_1 == 'partnering-with-us' %}
      <div class="feature-one col-6 p-divider__block">
        <h3>Become a partner</h3>
        <p>If you’re in the industry and you&rsquo;re considering partnering with Canonical, please get in touch.</p>
        <p><a href="/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
      </div>
      <div class="feature-two col-6 p-divider__block">
        <h3>Partner programmes</h3>
        <p>Canonical operates a range of partner programmes that help OEMs, ODMs, ISVs, cloud operators and mobile carriers maximise the revenue opportunities Ubuntu provides.</p>
        <p><a href="/programmes">Find the right programme for you&nbsp;&rsaquo;</a></p>
      </div>
      {% else %}
      <div class="feature-one col-6 p-divider__block">
        <h3>Become an Ubuntu partner</h3>
        <p>Interested in becoming an Ubuntu partner? Talk to us today to learn more about our programmes.</p>
        <p><a href="/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
      </div>
      <div class="feature-two col-6 p-divider__block">
        <h3>Partner programmes</h3>
        <p>Do you offer different services to you customers? Learn more about other Ubuntu partner programmes.</p>
        <p><a href="/programmes">Partner programmes&nbsp;&rsaquo;</a></p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
