
<div class="four-col last-col">
    <div class="p-card--partners">
        <h3 class="p-card__title">Cloud and server news</h4>
        <div class="p-card__content">
            <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/32d396bf-LinuxONE-logo.png" alt="">
            <a href="https://blog.ubuntu.com/2018/04/11/ubuntu-available-on-ibm-linuxone-rockhopper-ii">
                <h3>Ubuntu available on IBM LinuxOne Rockhopper II&nbsp;&rsaquo;</h3>
            </a>
            <p>IBM and Canonical have ensured that Ubuntu is available on IBM Z and LinuxONE servers.</p>
        </div>
    </div>
</div>
