
<div class="col-4">
  <div class="p-card">
    <h3 class="p-card__title p-muted-heading">Cloud and server news</h3>
    <div class="p-card__content"">
      <hr class="u-sv1">
      <img src="https://assets.ubuntu.com/v1/32d396bf-LinuxONE-logo.png" alt="">
      <a href="https://blog.ubuntu.com/2018/04/11/ubuntu-available-on-ibm-linuxone-rockhopper-ii">
        <h4>Ubuntu available on IBM LinuxOne Rockhopper II&nbsp;&rsaquo;</h4>
      </a>
      <p>IBM and Canonical have ensured that Ubuntu is available on IBM Z and LinuxONE servers.</p>
    </div>
  </div>
</div>
