{% load versioned_static %}<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
<head>

<title>{% block title %}{% endblock %}Ubuntu partners</title>

<meta charset="UTF-8" />
<meta name="description" content="{% block meta_description %}{% endblock %}" />
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
<meta name="author" content="Canonical" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<![endif]-->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://assets.ubuntu.com/v1/3361409d-apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://assets.ubuntu.com/v1/3361409d-apple-touch-icon-144x144-precomposed.png?w=114">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://assets.ubuntu.com/v1/3361409d-apple-touch-icon-144x144-precomposed.png?w=72">
<link rel="apple-touch-icon-precomposed" href="https://assets.ubuntu.com/v1/3361409d-apple-touch-icon-144x144-precomposed.png">
<link rel="shortcut icon" href="https://assets.ubuntu.com/v1/dbf71c80-favicon.ico" type="image/x-icon" />

<!-- site specific css -->
<link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static 'css/styles.css' %}" />

<link type="text/plain" rel="author" href="{% versioned_static 'files/humans.txt' %}" />

<script src="https://assets.ubuntu.com/v1/5d7e5bbf-jquery-2.2.0.min.js"></script>

<!-- cookie policy -->
<script src="/static/js/modules/cookie-policy.js"></script>

{% block head_extra %}{% endblock %}

</head>

<body class="{% if level_1 != "" %}{% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}{% endif %}{% if level_2 %} {% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}-{{ level_2 }}{% endif %}{% if level_3 %} {% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}-{{ level_2 }}-{{ level_3 }} {% endif %} {% include "templates/body-class.html" %}{% if extra_body_class != "" %} {% block extra_body_class %}{% endblock %}{% endif %}" itemscope itemtype="http://schema.org/Product">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K4K33T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K4K33T');</script>
<!-- End Google Tag Manager -->

<header id="navigation" class="p-navigation">
  <div class="row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/">
          <img width="189" height="27" alt="Ubuntu" src="https://assets.ubuntu.com/v1/c6c41a4e-ubuntu-partners-logo.svg">
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" role="menubar">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link{% if level_1 == 'programmes' %} is-selected{% endif %}">
            <a role="menuitem" href="/programmes">Programmes</a>
        </li>
        <li class="p-navigation__link{% if level_1 == 'find-a-partner' %} is-selected{% endif %}">
          <a role="menuitem" href="/find-a-partner">Find a partner</a>
        </li>
        <li class="p-navigation__link{% if level_1 == 'partnering-with-us' %} is-selected{% endif %}">
          <a role="menuitem" href="/partnering-with-us">Partnering with us</a>
        </li>
        <li class="p-navigation__link{% if level_1 == 'contact-us' %} is-selected{% endif %}">
          <a role="menuitem" href="/contact-us">Contact us</a>
        </li>
      </ul>

      <ul class="p-navigation__links u-float--right" role="menu" style="margin-right: 1rem;">
        <li class="p-navigation__link" style="border-left: 0;">
          <a role="menuitem" href="https://canonical.partnerprm.com/vert/DEfault/IT_login">
            <span class="p-link--external">Log in</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="wrapper">
  <div id="main-content" class="inner-wrapper">
  {% block second_level_nav %}
  {% endblock second_level_nav %}

  {% block header %}{% endblock %}
  {% block content_container %}
  {% block outer_content %}
  {% endblock outer_content %}
  {% endblock content_container %}
  </div>
</div>

{% include "templates/footer.html" %}

<script>
    var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
    if(isOperaMini) {
        var root = document.documentElement;
        root.className += " opera-mini";
    }
</script>

<script src="https://assets.ubuntu.com/v1/40d25181-yui-combined.min.js"></script>
<script src="/static/js/scratch.js"></script>
<script src="/static/js/plugins/respond.min.js"></script>

<script src="/static/js/modules/global-nav.js"></script>
<script>
  canonicalGlobalNav.createNav({
    maxWidth: '64.875rem',
    showLogins: false
  });
</script>


{% block footer_extra %}
<script>
  // Every page should show the cookie policy until accepted
  var cookie_options = {
    'content': 'We use cookies to improve your experience of canonical.com. By continuing to explore without changing your settings, you are agreeing to accept them. To learn how to change these settings, please see our <a href="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy#cookies">privacy policy</a>.'
  }
  ubuntu.cookiePolicy.setup(cookie_options);
</script>
{% endblock %}

{% if enable_crazyegg %}
    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName('script')[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/8875.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
{% endif %}
</body>
</html>
