{% block footer %}
<div class="footer-wrapper strip-light">
<footer class="global clearfix">
<nav role="navigation">
	<div class="row no-border">
		<div id="canonlist" class="canonlist five-col">
			<h2>Partners</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/programmes">Partner programmes</a></li>
				<li><a href="/find-a-partner">Find a partner</a></li>
				<li><a href="/partnering-with-us">Partnering with us</a></li>
				<li><a href="/contact-us">Contact us</a></li>
			</ul>
		</div>
		<div class="four-col">
			<h2>Follow us</h2>
			<ul class="list-social">
				<li><a id="item-twitter" href="https://twitter.com/Ubuntu">@ubuntu on Twitter</a></li>
				<li><a id="item-google" href="https://plus.google.com/+Ubuntu/posts">Ubuntu on Google+</a></li>
				<li><a id="item-facebook" href="https://www.facebook.com/ubuntulinux?fref=ts">Ubuntu on Facebook</a></li>
				<li><a id="item-canonical" href="http://blog.canonical.com">Canonical blog</a></li>
			</ul>
		</div>
		<div id="additional-info" class="three-col last-col">
			<h2>Find out more</h2>
			<div>
			<ul>
				<li><a href="http://www.ubuntu.com">Ubuntu</a></li>
				<li><a href="http://www.ubuntu.com/management/ubuntu-advantage">Ubuntu Advantage</a></li>
				<li><a href="http://www.canonical.com">Canonical</a></li>
				<li><a href="http://insights.ubuntu.com">Press and resources</a></li>
			</ul>
			</div>
		</div>
	</div>
</nav>
<div class="legal clearfix">
	<div class="legal-inner">
		<p class="twelve-col">&copy; {% now "Y" %} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
		<ul class="inline clear">
			<li><a href="http://www.ubuntu.com/legal">Legal information</a></li>
			<li><a href="https://bugs.launchpad.net/ubuntu-partner-website">Report a bug on this site</a></li>
		</ul>
		<span class="accessibility-aid"><a href="#">Got to the top of the page</a></span>
	</div>
</div>
</footer>
</div>
{% endblock footer %}
