db.sqlite3
.sass-cache
distribute-0.6.34.tar.gz
env
cms.svg
*.css
./static
pip-cache
*.pyc
*.~*
.bzr/
*.css.map
django-error.log
/static/css/
npm-debug.log
node_modules/
.docker-project

# Added by canonical-webteam generator
*.map
*.log
*.bak
*.sqlite
*-cache/
\#*\#
*.*~
.DS_store