setuptools==65.5.1
talisker[gunicorn]==0.21.3
Django==4.0.10
psycopg2-binary==2.9.6
dj-database-url==2.3.0
python-openid==2.2.5
django-static-root-finder==0.3.1
canonicalwebteam.yaml-responses==1.2.0
django-markdown-deux==1.0.6
django-openid-auth==0.17
whitenoise==6.7.0
