{% extends "templates/base_index.html" %}

{% block title %}Partnering with Ubuntu and Canonical | {% endblock %}
{% block meta_description %}Browse current Ubuntu partners in hardware, software, mobile or cloud - or find a specific partner from the list.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, server, ISV, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, Channel partners, VAR, channel, developer{% endblock %}

{% block content %}
<section class="p-strip--image is-dark" style="background-image: url('https://assets.ubuntu.com/v1/775cc62b-vanilla-grad-background.png'); background-position: 75% 50%;">
  <div class="row">
    <h1>Partnering with Ubuntu and Canonical</h1>
    <p>Ubuntu is an open source computing platform that is transforming the way millions of people and businesses use the client, the server and the cloud. Canonical is the company that supports it, providing strategic guidance and driving its adoption.</p>
  </div>
</section>
<section class="p-strip">
  <div class="row">
    <h2>How we work with our partners</h2>
    <p>By formalising their partnership with Canonical, technology companies of all kinds &mdash; from hardware makers and ISVs to cloud providers and mobile carriers &mdash; benefit from significant opportunities to increase their revenues with Ubuntu.</p>
    <p>We operate a range of partner programmes, from essential product certification to close collaboration, help with QA and long-term strategic alliances.</p>
  </div>
</section>
<section class="p-strip--light">
  <div class="row">
    <h2>What you get when you work with us</h2>
    <p>Partnering with Canonical gives you:</p>
  </div>
  <div class="row">
    <ul class="p-list is-split">
      <li class="p-list__item is-ticked">Certification of your products to ensure reliability and communicate this to your customers</li>
      <li class="p-list__item is-ticked">Regular security and maintenance updates to any products that run Ubuntu</li>
      <li class="p-list__item is-ticked">Access to engineers who develop Ubuntu, equipping you to use it as a platform for innovation in your market</li>
      <li class="p-list__item is-ticked">Custom engineering covering any device enablement or platform customisation your ideas require</li>
      <li class="p-list__item is-ticked">Management of all third party licence fees and distribution agreements for content provided through Ubuntu</li>
      <li class="p-list__item is-ticked">Substantial marketing benefits &ndash; Ubuntu has more than 20 million client users and it is an established leader in the cloud. By working with us, you&rsquo;ll get to share in this growth.</li>
    </ul>
  </div>
</section>

{% include "templates/_contextual-footer.html" %}

{% endblock %}
