{% if programme_partners %}
<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
        <h3 class="p-muted-heading u-align--center">A selection of our {{ name }}</h3>
        <ul class="p-inline-images">
        {% for partner in programme_partners %}
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ partner.logo }}" alt="{{ partner.name }}">
          </li>
        {% endfor %}
        </ul>
        <p class="u-align--center u-vertically-spaced"><a href="/find-a-partner?{{ query }}">See all {{ name }}&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</section>
{% endif %}
