    <ul{% if list_class %} class="{{ list_class }}"{% endif %} class="second-level-nav">
        <li class="first{% if level_1 == 'programmes' and not level_2 %} active{% endif %}"><a href="/programmes">Overview</a></li>
        <li{% if level_2 == 'public-cloud' %} class="active" {% endif %}><a href="/programmes/public-cloud">Public cloud</a></li>
        <li{% if level_2 == 'openstack' %} class="active" {% endif %}><a href="/programmes/openstack">OpenStack</a></li>
        <li{% if level_2 == 'charm' %} class="active" {% endif %}><a href="/programmes/charm">Charm</a></li>
        <li{% if level_2 == 'software' %} class="active"{% endif %}><a href="/programmes/software">Software</a></li>
        <li{% if level_2 == 'hardware' %} class="active"{% endif %}><a href="/programmes/hardware">Hardware</a></li>
        <li{% if level_2 == 'retail' %} class="active"{% endif %}><a href="/programmes/retail">Retail</a></li>
        <li{% if level_2 == 'channel' %} class="active" {% endif %}><a href="/programmes/channel">Channel</a></li>
        <li{% if level_2 == 'iot' %} class="active" {% endif %}><a href="/programmes/iot">IoT</a></li>
    </ul>
