{% extends "templates/base_index.html" %}

{% block title %}Ubuntu channel partners | {% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, Channel partners, VAR, channel, developer{% endblock %}

{% block second_level_nav %}
{% include "programmes/_nav_secondary.html" with section="channel" %}
{% endblock second_level_nav %}

{% block content %}
<section class="p-strip is-bordered">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h1 class="p-heading--two">Ubuntu channel partner programme</h1>
      <p>Canonical works with channel partners around the world to ensure that local Ubuntu expertise is available on every continent. From OpenStack consulting and BootStack managed clouds to hardware sales and Ubuntu Advantage service contracts, the opportunity for Canonical partners grows by the day.</p>
    </div>
    <div class="col-4">
      <img width="150" alt="Canonical Logo" src="https://assets.ubuntu.com/v1/60d9b81e-picto-canonical.svg">
    </div>
  </div>
</section>

{% include "block/_logo-list.html" with name="Channel Partners" query="programme=channel-partners" %}

<section class="p-strip is-bordered">
  <div class="row">
    <h2 class="p-heading-three">Provide services with Canonical&rsquo;s backing</h2>
    <p>Whether you’re a value-add reseller (VAR) or a systems integrator, the Ubuntu channel programme provides valuable training and, most importantly, direct access to the technology experts at Canonical. This enables you and your team to deploy Ubuntu solutions for your customers with confidence – and it gives you access to the highest level of service.</p>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>What&rsquo;s included?</h2>
    </div>
  </div>
  <div class="row">
    <ul class="p-list is-split">
      <li class="p-list__item is-ticked">Opportunities to profit from Ubuntu Advantage and BootStack support contracts</li>
      <li class="p-list__item is-ticked">Joint lead generation and sharing</li>
      <li class="p-list__item is-ticked">Access to Landscape and Autopilot, Canonical’s cloud management tools</li>
      <li class="p-list__item is-ticked">Technical and sales training for your customer-facing team</li>
      <li class="p-list__item is-ticked">Permission to use the Canonical and Ubuntu trademarks in your own materials</li>
      <li class="p-list__item is-ticked">Inside information on forthcoming developments in Ubuntu</li>
      <li class="p-list__item is-ticked">Joint marketing opportunities</li>
    </ul>
  </div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}
