{% extends "templates/base_index.html" %}

{% block title %}Ubuntu Charm partners | {% endblock %}
{% block meta_description %}The Charm Partner Programme, for software vendors, developers and integrators who want to deliver scale-out solutions to their customers on public, private or hybrid clouds{% endblock %}
{% block meta_keywords %}Ubuntu, Canonical, partner, program, programme, partnership, ISV, independent, software, vendor, developer, publisher, application, app, service, global, local, cloud, server,   customer, client, OpenStack, Landscape, Juju, MAAS, IT, provider, open source, Linux, Big Data, cloud orchestration, charm, bundles, solutions, scale, integration, container, LXD, LXC, docker, scale out, bare metal{% endblock %}

{% block second_level_nav_items %}
    <nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Programmes" page_title="Charm" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}

<section class="row row-hero equal-height">
    <div class="six-col">
        <h1>Charm Partner Programme</h1>
        <p>If you&rsquo;re an ISV or solution provider focused on the cloud or big data, you know how difficult it can be for your customers to realise the full value of your software. Releasing your solutions with Juju, the award-winning service orchestration tool from Canonical, can help your customers use your product at every stage; from the initial proof of concept, to development, through to full scale deployment.</p>
        <p><a href="/contact-us">Find out more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="five-col prepend-one last-col align-vertically">
        <img src="{{ STATIC_URL }}img/image-charm-hero.png" alt="Collection of juju charm icons" />
    </div>
</section>

{% include "block/_logo-list.html" with name="Charm partners" query="programme=charm partner programme" %}

<section class="row equal-height">
    <div class="seven-col append-one">
        <h2>Deploy, connect and scale</h2>
        <p>Juju automates and speeds up the deployment, scaling and managing of distributed applications. By creating a Juju charm for your product, you make it easy for administrators and devops teams to integrate it with hundreds of other solutions.</p>
        <p>It gets better. Juju charms can be combined in bundles: if your software is usually deployed with other services,  a customer can use a charm bundle to deploy all the services together. All the detailed configuration settings and relationships between services are handled by Juju.</p>
    </div>
    <div class="three-col last-col align-vertically">
        <img src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/logos/logo-pack/logo-juju.svg" alt="Juju logo" />
    </div>
</section>

<section class="row no-border strip-dark">
    <div class="eight-col">
        <h2>What&rsquo;s included?</h2>
        <p>As a partner involved in the Charm Partner Programme you can expect:</p>
    </div>
    <div class="six-col">
        <ul class="list-ubuntu">
            <li>Inclusion in our <a href="https://jujucharms.com/" class="external">online charm database</a>, available for instant deployment</li>
            <li>QA to ensure your charms meets the highest quality standards</li>
        </ul>
    </div>
    <div class="six-col last-col">
        <ul class="list-ubuntu">
            <li>Training and guidance on writing charms for your products</li>
            <li>Co-marketing opportunities such as joint events, videos, blogs, PR and demos to potential customers</li>
        </ul>
    </div>
</section>

<section class="row no-border">
    <div class="eight-col">
        <h2>Benefits</h2>
    </div>
    <div class="six-col">
        <ul class="list-ubuntu">
            <li>Optimise sales cycle by making it easy for potential clients to use Juju to spin up a proof of concept and start evaluating your products instantly. </li>
            <li>Best practice is built into the charm, resulting in higher quality deployments and happier customers every time. </li>
            <li>Increase your revenue opportunities as Juju charms and bundles can be deployed on a huge range of platforms and servers including; AWS, Azure, Google Cloud and on bare metal; x86, IBM POWER8 and ARM servers.</li>
        </ul>
    </div>
    <div class="six-col last-col">
        <ul class="list-ubuntu">
            <li>Charms and bundles make it easy to get your products easily integrated into today&rsquo;s hottest technologies (e.g. cloud, scale-out,  Big Data, Docker, etc.) </li>
            <li>Create better customer experiences as Juju charms simplify big, distributed systems.</li>
            <li>Charms help you reduce costs as they are reusable, easy to deploy, and provide immediate integration with other charmed applications.</li>
        </ul>
    </div>
</section>
{% include "templates/_contextual-footer.html" %}

{% endblock %}
