{% extends "templates/base_index.html" %}

{% block title %}Internet of Things Partners | {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block second_level_nav %}
{% include "programmes/_nav_secondary.html" with section="iot" %}
{% endblock second_level_nav %}

{% block content %}

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--two">Internet of Things</h1>
      <p>Commercial vendors of drones and other smart things can now deliver reliable software updates automatically, and sell software to their customers, all on an open platform. Ubuntu Core provides a production-ready platform for products that will ship across the globe, be hard to access physically and be connected to the internet for updates and security fixes with a store to make it easy for customer to find and install your apps.</p>
    </div>
    <div class="col-6">
      <img class="u-hide--small" src="{{ ASSET_SERVER_URL }}805f2b3a-core_black-orange_st_hex.svg" alt="Snappy boxes">
    </div>
  </div>
</section>

{% include "block/_logo-list.html" with name="Internet of Things partners" query="programme=internet of things" %}

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h2 class="p-heading--three">One platform from cloud to device</h2>
      <p>The Snappy Ubuntu Core on smart devices delivers bullet-proof security, reliable updates and the enormous Ubuntu ecosystem at your fingertips &ndash; bringing the developer&rsquo;s favourite cloud platform to a wide range of internet things, connected devices and autonomous machines.</p>
    </div>
    <div class="col-4">
      <img class="u-hide--small" src="{{ STATIC_URL }}img/iot-secure.svg" alt="" width="200" />
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2 class="p-heading--three">A marketplace for incredible apps</h2>
      <p>General-purpose, extensible devices like hubs, set-top boxes and gateways create a market for apps from a global developer community. Ubuntu makes it easy to develop amazing apps for incredible devices on your laptop, test on the cloud and publish straight to a global market of diverse devices.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2 class="p-heading--three">What&rsquo;s included?</h2>
    <p>As a partner involved in the Internet of Things Partner Programme you can expect:</p>
  </div>
  <div class="row">
    <ul class="p-list is-split">
      <li class="p-list__item is-ticked">Training and guidance on getting your hardware working with Ubuntu Core and writing apps for your products</li>
      <li class="p-list__item is-ticked">QA to ensure your apps meets the highest quality standards</li>
      <li class="p-list__item is-ticked">Co-marketing opportunities including joint events, videos, blogs,  PR and demos to potential customers</li>
      <li class="p-list__item is-ticked">Support for getting your software in our store</li>
    </ul>
  </div>
</section>
{% include "templates/_contextual-footer.html" %}

{% endblock %}
