{% extends "templates/base_index.html" %}

{% block title %}Ubuntu OpenStack interoperability lab partners | {% endblock %}
{% block meta_description %}Engage with the Ubuntu OpenStack interoperability lab (Ubuntu OIL) to develop and test your technologies’ interoperability with Ubuntu OpenStack and a range of software and hardware.{% endblock %}
{% block meta_keywords %}Cloud, OpenStack, Ubuntu, Server, Interoperability, testing, integration, ecosystem, UOIL, development, validation, affiliate, supporter, Technical Partner Progamme, lab, laboratory{% endblock %}

{% block second_level_nav_items %}
    <nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Programmes" page_title="OpenStack" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
    <img class="priority-0" src="http://assets.ubuntu.com/sites/ubuntu/latest/u/img/cloud/ubuntu-openstack/image-ubuntuopenstack.svg" alt="Ubuntu OpenStack medals">
    <div class="eight-col">
        <h1>Ubuntu OpenStack interoperability lab partners</h1>
        <p>The Ubuntu OpenStack interoperability lab (OIL)  is an integration lab in which we test our cloud partners&rsquo; products in countless Ubuntu OpenStack configurations, over and over again. Currently we are working with over 3,500 combinations per month. </p>
    </div>
</div>

{% include "block/_logo-list.html" with name="OpenStack partners" query="programme=openstack" %}

<div class="row equal-height">
    <div class="seven-col">
        <h2>Proven integration testing</h2>
        <p>Canonical has a long history of interoperability testing between OpenStack and Ubuntu.  To bring the benefits of our work to the rest of the ecosystem, we’ve launched the Ubuntu OpenStack interoperability lab, making it easier for you to QA the compatibility of your products with the world’s leading open cloud platform.</p>
        <h2>A sophisticated testing and integration process</h2>
        <p>Our process tests current and future developments of OpenStack against current and future developments of Ubuntu Server and Server LTS.
        As the ecosystem has grown, we’ve expanded it to include a wide array of guest operating systems, hypervisors, storage technologies,
        networking technologies and software-defined networking (SDN) stacks. We’ve also worked with partners familiar with Ubuntu and
        OpenStack but unfamiliar with Juju, MAAS and Juju charms, to help them more fully integrate their solution with Ubuntu.</p>
        <p>It&rsquo;s never been more important to test your hardware and software against the entire OpenStack ecosystem.  So how do you get involved?</p>
    </div>
    <div class="five-col last-col align-center align-vertically">
        <img src="https://assets.ubuntu.com/sites/ubuntu/latest/u/img/cloud/ecosystem/ubuntu-oil/image-ubuntuopenstackinteroperabilitylab.svg" alt="Ubuntu OpenStack interoperability lab pictograms" class="priority-0">
    </div>
</div>
<div class="row no-border strip-dark">
    <div class="eight-col append-four">
        <h2>What&rsquo;s included?</h2>
        <p>As a partner involved in the interoperability lab you can expect:</p>
    </div>
    <div class="six-col">
        <ul class="list-ubuntu">
            <li>Comprehensive interoperability testing of your products</li>
            <li>Continuous integration testing of your products with the latest OpenStack and Ubuntu releases</li>
            <li>Monthly reporting on the results of the tests</li>
            <li>Ongoing maintenance and tuning of Ubuntu OpenStack</li>
            <li class="last-item">Technical alignment to synchronise development timelines</li>
        </ul>
    </div>
    <div class="six-col last-col">
        <ul class="list-ubuntu">
            <li>Training on the creation, adaptation and real-world use of Juju Charms</li>
            <li>Joint marketing opportunities</li>
            <li class="last-item">Training in maximising returns on your relationship with Canonical</li>
        </ul>
    </div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}
