{% extends "templates/base_index.html" %}

{% block title %}Ubuntu OpenStack interoperability lab partners | {% endblock %}
{% block meta_description %}Engage with the Ubuntu OpenStack interoperability lab (Ubuntu OIL) to develop and test your technologies’ interoperability with Ubuntu OpenStack and a range of software and hardware.{% endblock %}
{% block meta_keywords %}Cloud, OpenStack, Ubuntu, Server, Interoperability, testing, integration, ecosystem, UOIL, development, validation, affiliate, supporter, Technical Partner Progamme, lab, laboratory{% endblock %}

{% block second_level_nav %}
  {% include "programmes/_nav_secondary.html" with section="openstack" %}
{% endblock second_level_nav %}

{% block content %}
<section class="p-strip is-bordered">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h1 class="p-heading--two">Ubuntu OpenStack interoperability lab&nbsp;partners</h1>
      <p>The Ubuntu OpenStack interoperability lab (OIL)  is an integration lab in which we test our cloud partners&rsquo; products in countless Ubuntu OpenStack configurations, over and over again. Currently we are working with over 3,500 combinations per month. </p>
    </div>
    <div class="col-4 u-align--center">
      <img src="https://assets.ubuntu.com/v1/a7916513-picto-openstack.svg" alt="Ubuntu OpenStack medals" width="200">
    </div>
  </div>
</section>
{% include "block/_logo-list.html" with name="OpenStack partners" query="programme=openstack" %}
<section class="p-strip">
  <div class="row u-vertically-center">
    <div class="col-7">
      <h2 class="p-heading--three">Proven integration testing</h2>
      <p>Canonical has a long history of interoperability testing between OpenStack and Ubuntu.  To bring the benefits of our work to the rest of the ecosystem, we’ve launched the Ubuntu OpenStack interoperability lab, making it easier for you to QA the compatibility of your products with the world’s leading open cloud platform.</p>
      <h2 class="p-heading--three">A sophisticated testing and integration&nbsp;process</h2>
      <p>Our process tests current and future developments of OpenStack against current and future developments of Ubuntu Server and Server LTS.
      As the ecosystem has grown, we’ve expanded it to include a wide array of guest operating systems, hypervisors, storage technologies,
      networking technologies and software-defined networking (SDN) stacks. We’ve also worked with partners familiar with Ubuntu and
      OpenStack but unfamiliar with Juju, MAAS and Juju charms, to help them more fully integrate their solution with Ubuntu.</p>
      <p>It&rsquo;s never been more important to test your hardware and software against the entire OpenStack ecosystem.  So how do you get involved?</p>
    </div>
    <div class="col-5 u-align--center">
      <img src="https://assets.ubuntu.com/v1/312f7dec-image-ubuntuopenstackinteroperabilitylab.svg" alt="Ubuntu OpenStack interoperability lab pictograms" class="u-hide--small">
    </div>
  </div>
</section>
<section class="p-strip--light">
  <div class="row">
    <h2 class="p-heading--three">What&rsquo;s included?</h2>
    <p>As a partner involved in the interoperability lab you can expect:</p>
  </div>
  <div class="row">
    <ul class="p-list is-split">
      <li class="p-list__item is-ticked">Comprehensive interoperability testing of your products</li>
      <li class="p-list__item is-ticked">Monthly reporting on the results of the tests</li>
      <li class="p-list__item is-ticked">Ongoing maintenance and tuning of Ubuntu OpenStack</li>
      <li class="p-list__item is-ticked">Technical alignment to synchronise development timelines</li>
      <li class="p-list__item is-ticked">Training on the creation, adaptation and real-world use of Juju Charms</li>
      <li class="p-list__item is-ticked">Continuous integration testing of your products with the latest OpenStack and Ubuntu releases</li>
      <li class="p-list__item is-ticked">Joint marketing opportunities</li>
      <li class="p-list__item is-ticked">Training in maximising returns on your relationship with Canonical</li>
    </ul>
  </div>
</section>

{% include "templates/_contextual-footer.html" %}

{% endblock %}
