{% extends "templates/base_index.html" %}

{% block title %}Ubuntu Certified Public cloud | {% endblock %}
{% block meta_description %}Canonical has partnered with the very best cloud service providers to ensure that the best of Ubuntu - consistent, up-to-date, secure - is available to our joint user base.{% endblock %}
{% block meta_keywords %}CPC, Certified Public Cloud, cloud ecosystem, cloud partners, cloud tools, Juju, Charm, orchestration, Ubuntu cloud, guest, Canonical{% endblock %}

{% block second_level_nav_items %}
    <nav role="navigation" class="nav-secondary clearfix">{% include "templates/_nav_breadcrumb.html" with section_title="Programmes" page_title="Certified Public cloud" %}</nav>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-border equal-height">
    <div class="eight-col">
        <h1 itemprop="name">Ubuntu Certified Public Cloud</h1>
        <p>Ubuntu is enormously popular with providers delivering public cloud services today. Together with significant developer mindshare, a favourable licensing model and a policy of regular updates have made Ubuntu the number one platform for cloud guests, the world over.</p>
        <p>If you operate a public cloud or you&rsquo;re considering launching one, the Ubuntu Certified Public Cloud programme lets you make certified, secure and up to date Ubuntu images available to your users, along with the opportunity to sell management, monitoring and commercial support from Canonical &mdash; all of which represent additional revenue opportunities. </p>
    </div>
    <div class="three-col last-col prepend-one align-center align-vertically">
        <img class="priority-0" width="250" src="{{ STATIC_URL }}img/logos/certified_cloud_partner_hex.png" itemprop="image" alt="" />
    </div>
</div>
<div class="row no-border strip-dark">
    <div class="eight-col append-four">
        <h2>What&rsquo;s included?</h2>
        <p>There are many benefits for partners in the Ubuntu Certified Public Cloud programme:</p>
    </div>
    <div class="six-col">
        <ul class="list-ubuntu">
            <li>Certified Ubuntu cloud images, tuned and tested to your environment, ensure optimal performance</li>
            <li>Regular and automated refresh of Ubuntu images for enhanced user experience and increased security</li>
            <li class="last-item">Automated publication across all cloud availability zones for facilitated operations</li>
        </ul>
    </div>
    <div class="six-col last-col">
        <ul class="list-ubuntu">
            <li>Being featured as a certified partner on the Ubuntu website, including the ability to use Ubuntu Public Cloud certification logos</li>
            <li>Joint marketing, including blogs, social media and webinars</li>
            <li class="last-item">Revenue-sharing upsells of management tooling <a class="external" href="http://www.ubuntu.com/management/ubuntu-advantage">Ubuntu Advantage with Landscape</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="eight-col">
        <h2>Premier cloud partners</h2>
        <p>We collaborate with our Premier Certified Public Cloud partners on disruptive technological developments that are driving cloud computing forward. These include <a href="https://jujucharms.com">Juju</a>, a groundbreaking service orchestration tool bringing rapid deployment of complex applications to any cloud, resulting in ecosystem and workload growth for our partners.</p>
    </div>
    <div class="prepend-one two-col last-col align-center">
        <img src="{{ STATIC_URL }}img/logos/logo-premiercloudpartner.svg" alt="">
    </div>
</div>

{% include "block/_logo-list.html" with name="public cloud partners" link="?programme=certified-public-cloud" %}

{% include "templates/_contextual-footer.html" %}

{% endblock %}
