{% extends "templates/base_index.html" %}

{% block title %}Ubuntu software partners | {% endblock %}
{% block meta_description %}The Canonical Technical Partner Program defines a process for collaboration between Canonical and IHV's. It helps IHVs understand how Ubuntu is developed and enhanced, and what is planned for the next release.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1CluSfP-OOnvhgkqJ4xoWguUViMz9ctUHh6zX8PNQAa4/edit#{% endblock %}

{% block second_level_nav %}
{% include "programmes/_nav_secondary.html" with section="software" %}
{% endblock second_level_nav %}

{% block content %}
<section class="p-strip is-bordered">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h1 class="p-heading--two">Ubuntu software partners</h1>
      <p>Ubuntu has a thriving software ecosystem, with thousands of applications available for the PC, the server and the cloud &mdash; targeting both the enterprise and consumer markets. </p>
      <p>We offer a range of benefits for ISVs looking to formalise their work with Ubuntu, through Canonical. As a certified partner, you&rsquo;ll get inside information on forthcoming Ubuntu developments, assistance in testing and optimising your applications with Ubuntu and OpenStack &mdash; and priority access to Ubuntu engineers.</p>
      <p><a href="/contact-us">Talk to us about becoming a partner&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 u-hide--small">
      <img src="https://assets.ubuntu.com/v1/a3d5299d-image-scopes.jpg" alt="scopes">
    </div>
  </div>
</section>

{% include "block/_logo-list.html" with name="software partners" query="service-offered=softwarecontent-publisher" %}

<section class="p-strip is-bordered">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h2 class="p-heading--three">App developer partners</h2>
      <p>Snaps are applications packaged with all their dependencies to run on all popular Linux distributions from a single build. They update automatically and roll back gracefully. Whether you’re building for desktop, cloud, or the Internet of Things, publishing as a snap will keep users up to date and make system configuration issues less likely, freeing you to code more and debug less.</p>
      <p>Snapcraft, the open source tool to publish snaps, picks up from your existing build artefacts or language of choice, be it Python, Go, C/C++, Node.js, or even .NET. With 20 minutes you can have your first app built and released in the Snap Store.</p>
      <p><a href="https://snapcraft.io" class="p-link--external">Learn more about Ubuntu SDK</a></p>
    </div>
    <div class="col-4 u-hide--small">
      <img width="150" src="https://assets.ubuntu.com/v1/5124bd9c-logo-snapcraft-primary_smaller.svg" alt="Snapcraft logo">
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h2 class="p-heading--three">Cloud software partners</h2>
      <p>Ubuntu is the world&rsquo;s leading cloud operating system, both as a guest on public clouds &mdash; like Amazon and Windows Azure &mdash; and as a platform on which to build OpenStack clouds and Kubernetes clusters.</p>
      <h3>Charm partner programme</h3>
      <p>Canonical&rsquo;s award-winning service modeling tool, Juju, makes it easy to model, deploy, manage and scale cloud software. With Juju charms, any customer can deploy your products in just a few clicks.</p>
      <p><a href="/contact-us">Contact us about the Charm partner programme&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 u-hide--small">
      <img width="250" src="https://assets.ubuntu.com/v1/651a5caa-image-ecosystem.svg" alt="" />
    </div>
  </div>
</section>
{% include "templates/_contextual-footer.html" %}
{% endblock %}
