{% extends "templates/base_index.html" %}

{% block title %}Find a partner{% endblock %}
{% block meta_description %}Browse current Ubuntu partners in hardware, software, mobile or cloud - or find a specific partner from the list.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, server, ISV, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block content %}
<div class="row row-hero no-border">
	<div class="six-col">
		<h1>Partnering with Ubuntu and Canonical</h1>
		<p>Ubuntu is an open source computing platform that is transforming the way millions of people and businesses use the client, the server and the cloud. Canonical is the company that supports it, providing strategic guidance and driving its adoption.</p>
		<h2>How we work with our partners</h2>
		<p>By formalising their partnership with Canonical, technology companies of all kinds &mdash; from hardware makers and ISVs to cloud providers and mobile carriers &mdash; benefit from significant opportunities to increase their revenues with Ubuntu.</p>
		<p>We operate a range of partner programmes, from essential product certification to close collaboration, help with QA and long-term strategic alliances.</p>
	</div>
	<div class="six-col last-col">
		<img class="priority-0" width="661" height="400" alt="Ubuntu partners" src="{{ STATIC_URL }}img/image-partnering.svg">
	</div>
</div>
<div class="row no-border strip-dark">
	<div class="eight-col append-four">
		<h2>What you get when you work with us</h2>
		<p>Partnering with Canonical gives you:</p>
	</div>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>Certification of your products to ensure reliability and communicate this to your customers</li>
			<li>Regular security and maintenance updates to any products that run Ubuntu</li>
			<li>Access to engineers who develop Ubuntu, equipping you to use it as a platform for innovation in your market</li>
			<li class="last-item"></li>
		</ul>
	</div>
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Custom engineering covering any device enablement or platform customisation your ideas require</li>
			<li>Management of all third party licence fees and distribution agreements for content provided through Ubuntu</li>
			<li class="last-item">Substantial marketing benefits &ndash; Ubuntu has more than 20 million client users and it is an established leader in the cloud. By working with us, you&rsquo;ll get to share in this growth.</li>
		</ul>
	</div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}