{% extends "templates/base_index.html" %}

{% block title %}{% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block extra_body_class %}home full-width{% endblock %}

{% block content %}
<section class="row row-hero strip no-border">
	<div class="strip-inner-wrapper">
		<div class="six-col">
			<h1>Ubuntu partners</h1>
			<p>At Canonical, we provide the services our partners need to ensure their hardware and software works optimally with the Ubuntu platform. This means working with technology leaders large and small, to provide the software, services, support and certification they need to complement their core competencies. For technology customers, this has created a thriving market of suppliers with Ubuntu expertise.</p>
			<p><a href="/programmes">Learn more about our partner programmes&nbsp;&rsaquo;</a></p>
		</div>
	    <div class="partners-image-container">
	        <div class="partners-hero-ubuntu"></div>

	        <div class="partners-hero-desktop"></div>
	        <div class="partners-hero-line-1"></div>

	        <div class="partners-hero-phone"></div>
	        <div class="partners-hero-line-2"></div>

	        <div class="partners-hero-tablet"></div>
	        <div class="partners-hero-line-3"></div>

	        <div class="partners-hero-server"></div>
	        <div class="partners-hero-line-4"></div>

	        <div class="partners-hero-cloud"></div>
	        <div class="partners-hero-line-5"></div>
	    </div>
	</div>
</section>

<section class="row strip strip-light no-border strip-logos">
	<div class="strip-inner-wrapper">
		<div class="list-auto twelve-col">
			<h3 class="caps-centered">A selection of Ubuntu partners</h3>
			<ul class="inline-logos no-bullets">
			{% for partner in alliance_partners %}
				<li><img src="{{ partner.logo }}" alt="{{ partner.name }}" /></li>
			{% endfor %}
			</ul>
		</div>
		<div class="twelve-col">
			<p class="align-center"><a href="/find-a-partner">Browse all Ubuntu partners&nbsp;&rsaquo;</a></p>
		</div>
	</div>
</section>

<section class="row strip no-border">
	<div class="strip-inner-wrapper equal-height">
		<div class="six-col">
			<h2>World leaders in the cloud</h2>
			<p>We partner with a wide range of cloud vendors, offering engineering assistance, support and ongoing <a href="/programmes/openstack">quality assurance</a> to the ecosystem that is fast developing around Ubuntu and OpenStack. As a result, Ubuntu is the now world&rsquo;s most popular OS for OpenStack, with over 60% of deployments worldwide. Meanwhile, the <a href="/programmes/public-cloud">Certified Public Cloud</a> programme, offers optimised Ubuntu images for users of the world&rsquo;s top public clouds. Two levels of partnership &mdash; Premier and Certified &mdash; give partners the flexibility to choose a level of involvement that best suits their needs.</p>
		</div>
		<div class="six-col last-col align-center align-vertically">
			<img src="{{ STATIC_URL }}img/juju-window-scaled.png" alt="Juju" />
		</div>
	</div><!-- /.strip-inner-wrapper -->
</section>

<section class="row strip no-border">
	<div class="strip-inner-wrapper equal-height">
		<div class="five-col align-center align-vertically">
			<img src="{{ STATIC_URL }}img/home/image-scopes.png" alt="Tablet scopes" />
		</div>
		<div class="seven-col last-col">
			<h2>Driving innovation on devices and PCs</h2>
			<p>Ubuntu re-invents how users engage with content and services on smartphones, making it quicker and easier to discover and access. We invite OEMs and carriers to get involved in bringing this new mobile user experience to consumers. Consider a rare opportunity to help shape the future of smartphones, either as a phone OEM partner or via the <a href="/programmes/phone-carrier">Ubuntu Carrier Advisory Group.</a> Thanks to Canonical&rsquo;s <a href="/programmes/hardware">OEM</a> and <a href="/programmes/retail">retail</a> partners, Ubuntu has been available pre-installed on PCs all over the world, for several years. The same underlying OS will soon be available on smartphones and tablets, as well.</p>
		</div>
	</div><!-- /.strip-inner-wrapper -->
</section>

<section class="row strip strip-light no-border">
	<div class="strip-inner-wrapper row-image-centered">
		<div class="eight-col">
			<h2>Ubuntu is backed by Canonical</h2>
			<p>Canonical is a software development and technology services company with staff in more than 30 countries around the world. Created alongside Ubuntu in 2004, it supports the platform’s development in many ways, from assisting with design and development to certification and the management of partner programmes.</p>
			<p>We help you deliver your products without the cost and complexity associated with platform development. We provide training, support, QA and hands-on engineering expertise when you need it. Not to mention the marketing benefits of formalising your relationship with Ubuntu.</p>
			<p><a href="/partnering-with-us">Learn more about Ubuntu and Canonical&nbsp;&rsaquo;</a></p>
		</div>
		<span>
			<img class="priority-0" width="200" height="200" alt="Canonical Logo" src="http://assets.ubuntu.com/sites/ubuntu/1054/u/img/pictograms/picto-pack/picto-canonical.svg">
		</span>
	</div>
</section>

<section class="row strip no-border">
	<div class="strip-inner-wrapper">
		{% include "templates/_contextual-footer.html" with strip=True %}
	</div>
</section>

<!-- This comment was updated on 2015-10-20 at 17:38 -->

{% endblock %}
