{% extends "templates/base_index.html" %}

{% block title %}Ubuntu Partners overview{% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block extra_body_class %}home{% endblock %}

{% block content %}
<div class="inner-wrapper">
	<div class="row row-hero">
		<div class="eight-col">
			<h1>Ubuntu partners</h1>
			<p>At Canonical, we provide the services our partners need to ensure their hardware and softwareworks optimally with the Ubuntu platform. This means working with technology leaders large and small, to provide the software, services, support and certification they need to complement their core competencies. For enterprise technology customers, this has created a thriving market of suppliers, all proven experts on Ubuntu.</p>
			<p><a href="/partner-programmes">Learn more about our partner programmes&nbsp;&rsaquo;</a></p>
		</div>
	</div>
	<div class="row">
		<div class="twelve-col">
			<h3 class="caps-centered">Works with all your hardware and software</h3>
			<p>INSERT ROW OF FEATURED LOGO'S</p>
			<p><a href="/find-a-partner">Browse all Ubuntu partners&nbsp;&rsaquo;</a></p>
		</div>
	</div>
	<div class="row">
		<div class="eight-col">
			<h2>World leaders in the cloud</h2>
			<p>At Canonical, we partner with a wide range of cloud vendors, offering engineering assistance, support and <a href="/oil">quality assurance</a> to the ecosystem that is fast developing around Ubuntu and OpenStack. As a result, Ubuntu is the now world&rsquo;s most popular OS for OpenStack, with over 60% of deployments worldwide. Meanwhile, the <a href="/pcp">Certified Public Cloud</a> programme, offers optimised Ubuntu images for users of the world’s top public clouds. Two levels of partnership &mdash; Premier and Certified &mdash; give partners the flexibility to choose a level of involvement that best suits their needs.</p>
		</div>
		<div class="four-col last-col">
			<img src="http://placehold.it/289x250/" alt="" />
		</div>
	</div>
	<div class="row">
		<div class="four-col">
			<img src="http://placehold.it/289x250/" alt="" />
		</div>
		<div class="eight-col last-col">
			<h2>Driving innovation on devices and PCs</h2>
			<p>Ubuntu re-invents how users engage with content and services on smartphones, making it quicker and easier to discover and access. We invite OEMs and carriers to get involved in bringing this new mobile user experience to consumers. Consider a rare opportunity to help shape the future of smartphones, either as a phone OEM partner or via the <a href="/phone">Ubuntu Carrier Advisory Group.</a></p>
			<p>Thanks to Canonical&rsquo;s <a href="/heardware">OEM</a> and <a href="/retail">retail</a> partners, Ubuntu has been available pre-installed on PCs all over the world, for several years. The same underlying OS will soon be available on smartphones and tablets, as well.</p>
		</div>
	</div>
	<div class="row row-image-centered no-border">
		<div class="eight-col">
			<h2>Ubuntu is backed by Canonical</h2>
			<p>Canonical is a software development and technology services company with staff in more than 30 countries around the world. Created alongside Ubuntu in 2004, it supports the platform’s development in many ways, from assisting with design and development to certification and the management of partner programmes.</p>
			<p>We help you deliver your products without the cost and complexity associated with platform development. We provide training, support, QA and hands-on engineering expertise when you need it. Not to mention the marketing benefits of formalising your relationship with Ubuntu.</p>
			<p><a href="/partnering-with-us">Learn more about Ubuntu and Canonical&nbsp;&rsaquo;</a></p>
		</div>
		<span>
			<img class="priority-0" width="200" height="200" alt="Canonical Logo" src="http://assets.ubuntu.com/sites/ubuntu/1054/u/img/pictograms/picto-pack/picto-canonical.svg">
		</span>
	</div>

	<div id="context-footer" class="{{ level_1 }}-context-footer no-border">
	<hr />
		<div class="twelve-col vertical-divider">
			<div class="feature-one six-col">
				<h3>Partner programmes</h3>
				<p>Interested in becoming an Ubuntu partner? Learn more about the benefits of working with Canonical.</p>
				<p><a href="/partners-programmes">Learn more about partner programmes&nbsp;&rsaquo;</a></p>
			</div>
			<div class="feature-two six-col last-col">
				<h3>Find a partner</h3>
				<p>Looking for Ubuntu products or services? Search or select from the complete list of our partners.</p>
				<p><a href="/find-a-partner">Find a partner&nbsp;&rsaquo;</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}