{% extends "templates/base_index.html" %}

{% block title %}Ubuntu Partners overview | {% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block extra_body_class %}home{% endblock %}

{% block content %}
<div class="row hero">
	<div class="eight-col">
		<h1>{{ partner.name }}</h1>
		{% if partner.long_description %}
		<p>{{ partner.long_description|linebreaks }}</p>
		{% else %}
		<p>{{ partner.short_description|linebreaks }}</p>
		{% endif %}
		<p><a href="http://{{ partner.external_page }}" class="external">Partner website</a></p>
	</div>
	<div class="four-col last-col">
		<img src="{{ partner.logo }}" alt="{{ partner.name }} logo" />
	</div>
</div>

{% if partner.texts %}
<div class="row row-image-centered">
	{% for text in partner.texts %}
	<div class="eight-col">
		<h2>{{ text.fields.header }}</h2>
		{{ text.fields.body|linebreaks }}
		<a href="{{ text.fields.url }}">Read more&nbsp;&rsaquo;</a>
	</div>
	<span>
		<img src="{{ text.fields.image }}" />
	</span>
	{% endfor %}
</div>
{% endif %}

{% if partner.quotes %}
<div class="row">
	{% for quote in partner.quotes %}
	<div class="box six-col{% if forloop.counter|divisibleby:2 %} last-col{% endif %}">
		<blockquote class="pull-quote">
			<p><span>&ldquo;</span>{{ quote.fields.text }}<span>&rdquo;</span></p>
			<p><cite>{{ quote.fields.attribution }}</cite></p>
		</blockquote>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if partner.links %}
<div class="row">
	<div class="eight-col">
		<h2>Links</h2>
		<ul>
			{% for link in partner.links %}
			<li><a class="external" href="{{ link.fields.url }}">{{ link.fields.text }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% include "templates/_contextual-footer.html" %}

{% endblock %}