{% extends "templates/base_index.html" %}

{% block title %}Ubuntu Partners overview | {% endblock %}
{% block meta_description %}Find or become and Ubuntu partner, and benefit from the support of Canonical, the company set up to guide Ubuntu's enterprise adoption.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, IaaS, PaaS, SaaS, server, ISV, IHV, OEM, ODM, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block extra_body_class %}partner{% endblock %}

{% block content %}
<div class="row hero{% if partner.links or partner.insights_tags %}{% else %} no-border{% endif %}">
	<div class="eight-col">
		<h1>{{ partner.name }}</h1>
		{% if partner.long_description %}
		{{ partner.long_description|linebreaks }}
		{% else %}
		{{ partner.short_description|linebreaks }}
		{% endif %}
		<p><a href="{{ partner.external_page }}" class="external" onclick="ga('send', 'event', 'External Link', '{{ partner.name }} partner page', 'From {{ partner.name }} partner page Partner Website link');">Partner website</a></p>
	</div>
	<div class="four-col last-col">
		<img src="{{ partner.logo }}" alt="{{ partner.name }} logo" />
	</div>
</div>

{% if partner.texts %}
{% for text in partner.texts %}
<div class="row equal-height">
	{% if forloop.counter|divisibleby:2 %}
	<div class="four-col align-center align-vertically">
		<img src="{{ text.fields.image }}" alt="" />
	</div>
	<div class="eight-col last-col">
	{% else %}
	<div class="eight-col">
	{% endif %}
		<h2>{{ text.fields.header }}</h2>
		{{ text.fields.body|linebreaks }}
		<a href="{{ text.fields.url }}">Read more&nbsp;&rsaquo;</a>
	</div>
	{% if forloop.counter|divisibleby:2 %}
	{% else %}
	<div class="last-col four-col align-center align-vertically">
		<img src="{{ text.fields.image }}" alt="" />
	</div>
	{% endif %}
</div><!-- /row -->
{% endfor %}
{% endif %}

{% if partner.quotes %}
<div class="row">
	{% for quote in partner.quotes %}
	<div class="box six-col{% if forloop.counter|divisibleby:2 %} last-col{% endif %}">
		<blockquote class="pull-quote">
			<p><span>&ldquo;</span>{{ quote.fields.text }}<span>&rdquo;</span></p>
			<p><cite>{{ quote.fields.attribution }}</cite></p>
		</blockquote>
	</div>
	{% endfor %}
</div><!-- /row -->
{% endif %}

{% if partner.links or partner.insights_tags %}<div class="row no-border">{% endif %}
	{% if partner.links %}
	<div class="six-col">
		<h2>Links</h2>
		<ul>
			{% for link in partner.links %}
			<li><a class="external" href="{{ link.fields.url }}">{{ link.fields.text }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if partner.insights_tags %}
	<div class="six-col last-col">
		<h2>Further reading</h2>
		<div id="insights"></div>
	</div>
	{% endif %}
{% if partner.links or partner.insights_tags %}</div><!-- /row -->{% endif %}

{% include "templates/_contextual-footer.html" %}

{% if partner.insights_tags %}
  {% block head_extra %}
  <script src="https://www.google.com/jsapi"></script>
  <script>google.load("feeds", "1")</script>
  {% endblock %}
  <script>
    var feedcontainer2=document.getElementById("insights")
    var feedurl2=document.location.protocol+"//insights.ubuntu.com/tag/{% for tag in partner.insights_tags %}{{ tag.fields.tag }}{% endfor %}/feed/"
    var feedlimit2=3
    var rssoutput="<ul class='no-bullets smaller'>"
      function rssfeedsetup2(){
        var feedpointer2=new google.feeds.Feed(feedurl2) //Google Feed API method
            feedpointer2.setNumEntries(feedlimit2) //Google Feed API method
            feedpointer2.load(displayfeed2) //Google Feed API method
      }

      function displayfeed2(result){
        if (!result.error){
          var thefeeds2=result.feed.entries
          for (var i=0; i<thefeeds2.length; i++){
            rssoutput+="<li><a class='external' href='" + thefeeds2[i].link + "'>" + thefeeds2[i].title + "</a></li>"}
            rssoutput+="</ul>"
            feedcontainer2.innerHTML=rssoutput
        }
      }
        
      window.onload=function(){
        rssfeedsetup2()
      }
  </script>
 {% endif %}

{% endblock %}