{% extends "templates/base_index.html" %}

{% block title %}Request login | {% endblock %}
{% block meta_description %}Request access to Ubuntu's partner portal{% endblock %}

{% block extra_body_class %}home full-width{% endblock %}

{% block content %}

{% if aliId %}
<div class="p-strip is-bordered is-deep">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-7">
        <h1>Thank you for requesting access to Ubuntu's partner portal</h1>
        <p class="p-heading--four">A member of our team will be in touch soon.</p>
      </div>
      <div class="col-5 u-vertically-center u-align--center u-hide--small">
        <img src="https://assets.ubuntu.com/v1/cbae9a60-thank_you_orange_cmyk.svg" alt="smile" width="200" height="200">
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if not aliId %}
<div class="p-strip is-bordered is-deep">
  <div class="row">
    <div class="col-8">
      <h1>Request access to Ubuntu's partner portal</h1>
      <p>If you need to gain access to the Ubuntu's partner portal, please fill in your details below and a member of our team will get in touch.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">

      <!-- MARKETO FORM -->
      <script src="//assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
      <script  src="//assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
      <script src="//assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>‌​

      <form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3339" class="marketo-form">
        <fieldset>
          <ul class="p-list">

            <li  class="p-list__item mktFormReq mktField">
              <label for="Company" class="mktoLabel " >Company Name:</label>
              <input required  id="Company" name="Company" maxlength="255" type="text" class="mktoField   mktoRequired" >
            </li>

            <li  class="p-list__item mktFormReq mktField">
              <label for="Website" class="mktoLabel " >Company website:</label>
              <input required  id="Website" name="Website" maxlength="255" type="url" class="mktoField mktoUrlField  mktoRequired" >
            </li>

            <li  class="p-list__item mktFormReq mktField">
              <label for="FirstName" class="mktoLabel " >First Name:</label>
              <input required  id="FirstName" name="FirstName" maxlength="255" type="text" class="mktoField   mktoRequired" >
            </li>

            <li  class="p-list__item mktFormReq mktField">
              <label for="LastName" class="mktoLabel " >Last Name:</label>
              <input required  id="LastName" name="LastName" maxlength="255" type="text" class="mktoField   mktoRequired" >
            </li>

            <li  class="p-list__item mktFormReq mktField">
              <label for="Email" class="mktoLabel " >Work email:</label>
              <input required  id="Email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField  mktoRequired" >
            </li>

            <li  class="p-list__item mktFormReq mktField">
              <label for="Phone" class="mktoLabel " >Phone Number:</label>
              <input required  id="Phone" name="Phone" maxlength="255" type="tel" class="mktoField mktoTelField  mktoRequired" >
            </li>

            <li>
              <input name="Partner_newsletter__c" id="Partner_newsletter__c" type="checkbox" value="yes" class="mktoField">
              <label  class="mktoLabel" for="Partner_newsletter__c">I agree to receive information about Canonical’s products and services.</label>
            </li>

            <li  class="p-list__item mktField">
              <button type="submit" class="mktoButton">Submit</button>
              <input type="hidden" name="formid" class="mktoField " value="3339">
              <input type="hidden" name="lpId" class="mktoField " value="6921">
              <input type="hidden" name="subId" class="mktoField " value="30">
              <input type="hidden" name="munchkinId" class="mktoField " value="066-EOV-335">
              <input type="hidden" name="lpurl" class="mktoField " value="//pages.ubuntu.com/PartnerPortal_AccessRequest_form-landing-page.html?cr={creative}&amp;kw={keyword}">
              <input type="hidden" name="cr" class="mktoField " value="">
              <input type="hidden" name="kw" class="mktoField " value="">
              <input type="hidden" name="q" class="mktoField " value="">
            </li>

          </ul>
        </fieldset>

        <input type="hidden" name="returnURL" value="https://partners.ubuntu.com/thank-you" />
        <input type="hidden" name="retURL" value="https://partners.ubuntu.com/thank-you" />
      </form>
      <script>
        $("#mktoForm_3339").validate({
          errorElement: "span",
          errorClass: "mktFormMsg mktError",
          onkeyup: false,
          onclick: false,
          onblur: false
        });
      <!-- /MARKETO FORM -->
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
