{% extends "templates/base_index.html" %}
{% block title %}Thank you | {% endblock %}

{% block content %}

<div class="row row-image-centered row-hero no-border">
    <div class="seven-col">
        <h1>Thank you!</h1>
        <p>We’re really excited about your interest in partnering with Ubuntu.</p>
        <p>A member of our team will contact you shortly.</p>
        <p>In the meantime, you will find more information about our <a href="/programmes">partner services</a> along with listings of our hardware, software, cloud and channel partners <a href="/find-a-partner ">partners</a> on ubuntu.com.</p>
    </div>
    <span>
        <img src="https://assets.ubuntu.com/v1/52d53696-pictogram-smile-purple.svg" width="164" height="162" alt="Smile pictogram" />
    </span>
</div><!-- end row-->

{% endblock content %}
{% block footer_extra %}
<!-- Google Code for Services Canonical &mdash; contact us Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1012391776;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "-mBBCIC5vwMQ4L7f4gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1012391776/?value=0&amp;label=-mBBCIC5vwMQ4L7f4gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{{ marketo }}
{% endblock footer_extra %}
