{% extends "templates/base_index.html" %}

{% load markdown_deux_tags %}

{% block title %}Find a partner | {% endblock %}
{% block meta_description %}Browse current Ubuntu partners in hardware, software, mobile or cloud - or find a specific partner from the list.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, server, ISV, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, channel partners, VAR, channel, developer{% endblock %}

{% block content %}

<section class="p-strip--image is-dark" style="background-image: url('https://assets.ubuntu.com/v1/775cc62b-vanilla-grad-background.png'); background-position: 75% 50%;">
  <div class="row">
    <h1 class="u-no-margin--bottom">Find an Ubuntu partner</h1>
    <p>Canonical&rsquo;s network of Ubuntu partners spans the full range of technology activities. We offer partner programmes for software vendors, hardware OEMs, mobile carriers, channel partners, retailers and public cloud providers. </p>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-4 p-card u-hide">
      <form class="p-search-box">
          <input class="p-search-box__input p-find-a-partner__search-input" name="search" id="search" placeholder="Search" required="" type="search">
          <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"><i class="p-icon--close"></i></button>
          <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
        </form>
      <aside class="p-accordion" role="tablist" aria-multiselect="true">
        <h3 class="p-heading--four">Filters</h3>
        <ul class="p-accordion__list">
          {% for filter in filters %}
          <li class="p-accordion__group">
            <button type="button" class="p-accordion__tab" id="{{ filter.name|slugify }}" role="tab" aria-controls="#{{ filter.name|slugify }}-section" aria-expanded="false">{{ filter.name|lower|capfirst }}</button>
            <section class="p-accordion__panel" id="{{ filter.name|slugify }}-section" role="tabpanel" aria-hidden="true" aria-labelledby="{{ filter.name|slugify }}-section">
              {% for item in filter.items %}
              <p>
                <input type="checkbox" class="p-find-a-partner__filter" name="{{ filter.name|slugify }}-{{ item|slugify }}" id="{{ filter.name|slugify }}-{{ item|slugify }}">
                <label for="{{ filter.name|slugify }}-{{ item|slugify }}">{{ item }}</label>
              </p>
              {% endfor %}
            </section>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
    <div class="col-8">
      <div id="results" class="p-find-a-partner">
        <div class="p-notification p-find-a-partner__no-results u-hide">
          <p class="p-notification__response">
          Sorry, no partners matches found.<br />
          Perhaps <a href="/find-a-partner">start your search again?</a>
          </p>
        </div>
        <ul class="p-list p-find-a-partner__prioritised-results"></ul>
        {% if partners %}
        <ul class="p-list p-find-a-partner__partner-list">
          {% for p in partners %}
          <li id="{{ p.name|slugify }}" class="p-list__item p-find-a-partner__partner p-media-object" data-searchText="{{ p.name }} {{ p.short_description }} {% for tag in p.tags %}{{ tag.fields.tag }}{% if not forloop.last %} {% endif %}{% endfor %}" data-filter="{% for technology in p.technology.all %}technology-{{technology.name|slugify }} {% endfor %}{% for industry_sector in p.industry_sector.all %}industry-sector-{{industry_sector.name|slugify }} {% endfor %}{% for programme in p.programme.all %}programme-{{ programme.name|slugify }} {% endfor %}{% for service_offered in p.service_offered.all %}service-offered-{{ service_offered.name|slugify }} {% endfor %}{% for region in p.region.all %}region-{{ region.name|slugify }} {% endfor %}" >
            <div class="p-media-object__image">
              {% if p.partner_website and not p.dedicated_partner_page %}
              <a title="Vist the {{ p.name }} website" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Find a Partner Page Link', 'eventAction' : '{{ p.name }} ', 'eventLabel' : '{{ p.name }} find-a-partner result image link', 'eventValue' : undefined });" href="{{ p.partner_website }}">
              {% else %}
              <a onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Find a Partner Page Link', 'eventAction' : '{{ p.name }}', 'eventLabel' : '{{ p.name }} find-a-partner result image link', 'eventValue' : undefined });" href="/{{ p.slug }}">
              {% endif %}
              {% if p.logo %}
                <img src="{{ p.logo }}" alt="{{ p.name }} logo" />
              </a>
              {% endif %}
            </div>
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                {% if p.dedicated_partner_page or p.partner_website %}
                {% if p.partner_website and not p.dedicated_partner_page %}
                <a title="Vist the {{ p.name }} website" class="p-link--external" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Find a Partner Page Link', 'eventAction' : '{{ p.name }} ', 'eventLabel' : '{{ p.name }} find-a-partner result link', 'eventValue' : undefined });" href="{{ p.partner_website }}">
                {% else %}
                <a onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Find a Partner Page Link', 'eventAction' : '{{ p.name }} ', 'eventLabel' : '{{ p.name }} find-a-partner result link', 'eventValue' : undefined });" href="/{{ p.slug }}">
                {% endif %}
                  {{ p.name }}{% if p.dedicated_partner_page %}&nbsp;&rsaquo;{% endif %}
                </a>
                {% else %}
                {{ p.name }}
                {% endif %}
              </h3>
              <div class="p-media-object__content">{{ p.short_description | markdown }}</div>
              {% if p.tags %}
              <h4>{{ p.tags_label }}:</h4>
              <p>
                {% for tag in p.tags %}
                {{ tag.fields.tag }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% include "templates/_contextual-footer.html" %}

{% endblock %}

{% block footer_extra %}
<script src="/static/js/find-a-partner.js"></script>
{% endblock %}
