{% extends "templates/base_index.html" %}

{% block title %}Find a partner | {% endblock %}
{% block meta_description %}Browse current Ubuntu partners in hardware, software, mobile or cloud - or find a specific partner from the list.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, server, ISV, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block content %}
<div class="row row-hero no-border no-padding-bottom no-margin-bottom row-image-centered">
  <div class="twelve-col">
    <div class="eight-col">
      <h1>Find an Ubuntu partner</h1>
      <p class="intro">Canonical&rsquo;s network of Ubuntu partners spans the full range of technology activities. We offer partner programmes for software vendors, hardware OEMs, mobile carriers, resellers, retailers and public cloud providers. </p>
    </div>
    <span>
      <img class="priority-0" src="{{ STATIC_URL }}img/partners-search.svg" width="180">
    </span>
  </div>
</div>
<div class="row">
  <div class="search-panel three-col">
    <div class="twelve-col">
      <form>
        <input type="text" name="search" id="search">
        <!--<input type="text" name="filter" id="filter" class="accessibility-aid">-->
        <input type="text" name="filter" id="filter">
      </form>
    </div>
    <div class="twelve-col">
      <div class="tabbed-menu" style="display: none;">
        <ul>
          {% for filter in filters %}
          <li>
            <a href="#{{ filter.name|slugify }}" class="active">{{ filter.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% for filter in filters %}
        <div id="{{ filter.name|slugify }}" class="tabbed-content">
          <a href="#{{ filter.name|slugify }}" class="accordion-button slideless">{{ filter.name|lower|capfirst }}</a>
          <ul class="no-bullets">
          {% for item in filter.items %}
          <li>
            <input type="checkbox" name="{{ filter.name|slugify }}-{{ item|slugify }}" id="{{ filter.name|slugify }}-{{ item|slugify }}">
            <label for="{{ filter.name|slugify }}-{{ item|slugify }}">{{ item }}</label>
          </li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="results" class="results nine-col last-col">
      <div class="box noResults hide">
        <p>Sorry, no partners matches found.</p>
        <p>Perhaps <a href="">start your search again?</a></p>
      </div>
      {% for p in partners %}
      <div class="box clearfix twelve-col partner" data-searchText="{{ p.name }} {{ p.short_description }}" data-filter="{% for category in p.category.all %}category-{{ category.name|slugify }} {% endfor %}{% for industry_sector in p.industry_sector.all %}industry-sector-{{ industry_sector.name|slugify }} {% endfor %}{% for programme in p.programme.all %}programme-{{ programme.name|slugify }} {% endfor %}{% for service_offered in p.service_offered.all %}service-offered-{{ service_offered.name|slugify }} {% endfor %}{% for region in p.region.all %}region-{{ region.name|slugify }} {% endfor %}" >
          {% if p.logo %}
          <div class="two-col">
            <img src="{{ p.logo }}" alt="{{ p.name }} logo" />
          </div>
          {% endif %}
          <div class="{% if p.logo %}seven-col{% else %}nine-col{% endif %} last-col">
            <h3><a {% if not p.generate_page %}class="external" onclick="ga('send', 'event', 'External Link', '{{ p.name }} - find a partner page', 'From {{ p.name }} find-a-partner result link');"{% else %}onclick="ga('send', 'event', 'Internal Link', '{{ p.name }} - find a partner page', 'From {{ p.name }} find-a-partner result link');"{% endif %} href="{% if p.generate_page %}/{{ p.slug }}{% else %}{{ p.external_page }}{% endif %}">{{ p.name }}{% if p.generate_page %}&nbsp;&rsaquo;{% endif %}</a></h3>
            <p>{{ p.short_description }}</p>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

{% include "templates/_contextual-footer.html" %}

{% endblock %}

{% block footer_extra %}

  {% block head_extra %}
  <script src="https://www.google.com/jsapi"></script>
  <script>google.load("feeds", "1")</script>
  {% endblock %}
  <div id="insights-footer-feed"></div>
  <script>
    var feedcontainer2=document.getElementById("insights-footer-feed")
    var feedurl2=document.location.protocol+"//insights.ubuntu.com/feed/?s=partners"
    var feedlimit2=3
    var rssoutput="<ul class='no-bullets smaller'>"
      function rssfeedsetup2(){
        var feedpointer2=new google.feeds.Feed(feedurl2) //Google Feed API method
            feedpointer2.setNumEntries(feedlimit2) //Google Feed API method
            feedpointer2.load(displayfeed2) //Google Feed API method
      }

      function displayfeed2(result){
        if (!result.error){
          var thefeeds2=result.feed.entries
          for (var i=0; i<thefeeds2.length; i++){
            rssoutput+="<li><a href='" + thefeeds2[i].link + "'>" + thefeeds2[i].title + "&nbsp;&rsaquo;</a></li>"}
            rssoutput+="</ul>"
            feedcontainer2.innerHTML=rssoutput
        }
      }
        
      window.onload=function(){
        rssfeedsetup2()
      }
  </script>






<script>
YUI().use('autocomplete-base', 'autocomplete-filters', 'node-event-simulate', function (Y) {
  // Create a custom PartnerFilter class that extends AutoCompleteBase.
  var PartnerFilter = Y.Base.create('partnerFilter', Y.Base, [Y.AutoCompleteBase], {
    initializer: function () {
      this._bindUIACBase();
      this._syncUIACBase();
    }
  }),

  // Create instance
  search = new PartnerFilter({
    inputNode: '#search',
    minQueryLength: 0,
    queryDelay: 0,

    // Immediately-invoked function to gather data
    source: (function () {
      var results = [];

      Y.all('#results > .partner').each(function (node) {
        results.push({
          node: node,
          searchText: node.getAttribute('data-searchText')
        });
      });

      return results;
    }()), // <-- Note the parens. This invokes the function immediately.
          //     Remove these to invoke the function on every query instead.

    resultTextLocator: 'searchText',

    // filter on part-words
    resultFilters: 'subWordMatch'
  });

  // Create instance
  filter = new PartnerFilter({
    inputNode: '#filter',
    minQueryLength: 0,
    queryDelay: 0,

    // Immediately-invoked function to gather data
    source: (function () {
      var results = [];

      Y.all('#results > .partner').each(function (node) {
        results.push({
          node: node,
          searchText: node.getAttribute('data-filter')
        });
      });

      return results;
    }()), // <-- Note the parens. This invokes the function immediately.
          //     Remove these to invoke the function on every query instead.

    resultTextLocator: 'searchText',

    // filter on words
    resultFilters: 'wordMatch'
  });

  // Returns true if there are any matched results
  function matchesExist() {
    if (Y.all('#results > .partner').size() == (Y.all('#results > .notSearchMatch').size() + Y.all('#results > .notFilterMatch').size())){
      return false;
    } else {
      return true;
    }
  }

  function updateNoResultsMessage(matchesExist) {
    if (matchesExist){
      Y.one('#results .noResults').addClass('hide');
    } else {
      Y.one('#results .noResults').removeClass('hide');
    }
  }

  // Subscribe to the "results" event
  search.on('results', function (e) {
    Y.all('#results > .partner').addClass('notSearchMatch');

    Y.Array.each(e.results, function (result) {
      result.raw.node.removeClass('notSearchMatch');
    });

    updateNoResultsMessage(matchesExist());
  });

  // Subscribe to the "results" event
  filter.on('results', function (e) {
    Y.all('#results > .partner').addClass('notFilterMatch');

    Y.Array.each(e.results, function (result) {
      result.raw.node.removeClass('notFilterMatch');
    });

    updateNoResultsMessage(matchesExist());
  });

  //Add the name of checked checkboxes to #filter
  var checkboxes = Y.all('.search-panel input[type=checkbox]');
  checkboxes.on('change', function (e) {
    var checkbox = e.target;
    var checked = checkbox.get('checked');
    var attributeName = checkbox.get('id')
    updateFilter(attributeName, checked);
    updateNoResultsMessage(matchesExist());
  });

  function updateFilter(name, add) {
    var filterText = '';
    var filterElement = Y.one('#filter');
    name += ' ';
    if (add == true) {
      if (filterText.indexOf(name) == -1) { 
        filterText += name;
      }
    } else {
      filterText = filterText.replace(name, '');
    }
    filterElement.focus();
    filterElement.set('value', filterText);
    filterElement.simulate("change");
    filterElement.simulate("keypress", { keyCode: 97 });
    filterElement.simulate("blur");
  }

  //Get specified query param
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  //check any checkboxes that match
  function populateCheckboxes() {
    var filters = [], groupedFilters = [];

    {% for filter in filters %}
    groupedFilters['{{ filter.name|slugify }}'] = getParameterByName('{{ filter.name|slugify }}');
    //TODO - pop open any filters that are used
    {% endfor %}
    for (var key in groupedFilters) {
      if (groupedFilters[key]) {
        var filters = groupedFilters[key].split(' ');
        for (var filter in filters) {
          var checkbox = key + '-' + filters[filter];
          var checkboxObject = Y.one('#'+checkbox);
          if (checkboxObject != null) {
            checkboxObject.setAttribute('checked','checked');
            updateFilter(checkbox, true);
          }
        }
      }
    }
  }

  //auto-fill text serarch
  function populateTextbox() {
    var searchbox = Y.one('#search');
    var searchText = getParameterByName('search');
    if (searchbox != null && searchText != null) {
      searchbox.focus();
      searchbox.set('value', searchText);
    }
  }

  populateCheckboxes();
  populateTextbox();
});
</script>

{% endblock %}