{% extends "templates/base_index.html" %}

{% block title %}Find a partner | {% endblock %}
{% block meta_description %}Browse current Ubuntu partners in hardware, software, mobile or cloud - or find a specific partner from the list.{% endblock %}
{% block meta_keywords %}Canonical, Ubuntu, partner, partnership, program, programme, carrier, telco, mobile, network, phone, smartphone, tablet, cloud, OpenStack, public cloud, infrastructure, guest, image, server, ISV, software, hardware, enablement, certify, certified, certification, PC, laptop, desktop, reseller, VAR, channel, developer{% endblock %}

{% block content %}
<div class="row row-hero no-border no-padding-bottom no-margin-bottom">
  <div class="twelve-col equal-height">
    <div class="eight-col">
      <h1>Find an Ubuntu partner</h1>
      <p class="intro">Canonical&rsquo;s network of Ubuntu partners spans the full range of technology activities. We offer partner programmes for software vendors, hardware OEMs, mobile carriers, resellers, retailers and public cloud providers. </p>
    </div>
    <div class="four-col last-col align-center align-vertically">
      <img class="priority-0" src="{{ STATIC_URL }}img/partners-search.svg" width="180" alt="Search pictogram">
    </div>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="search-panel three-col">
    <div class="twelve-col">
      <form>
        <input type="text" name="search" id="search">
      </form>
    </div>
    <div class="twelve-col">
      <div class="tabbed-menu" style="display: none;">
        <ul>
          {% for filter in filters %}
          <li>
            <a href="#{{ filter.name|slugify }}" class="active">{{ filter.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% for filter in filters %}
        <div id="{{ filter.name|slugify }}" class="tabbed-content">
          <a href="#{{ filter.name|slugify }}" class="accordion-button slideless">{{ filter.name|lower|capfirst }}</a>
          <ul class="no-bullets">
          {% for item in filter.items %}
          <li>
            <input type="checkbox" name="{{ filter.name|slugify }}-{{ item|slugify }}" id="{{ filter.name|slugify }}-{{ item|slugify }}">
            <label for="{{ filter.name|slugify }}-{{ item|slugify }}">{{ item }}</label>
          </li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="results" class="results nine-col last-col search-not-run">
      <div class="box noResults hide">
        <p>Sorry, no partners matches found.</p>
        <p>Perhaps <a href="/find-a-partner">start your search again?</a></p>
      </div>
      <div class="prioritisedResults"></div>
      {% for p in partners %}
      <div id="{{ p.name|slugify }}" class="box clearfix twelve-col partner" data-searchText="{{ p.name }} {{ p.short_description }}" data-filter="{% for technology in p.technology.all %}technology-{{ technology.name|slugify }} {% endfor %}{% for industry_sector in p.industry_sector.all %}industry-sector-{{ industry_sector.name|slugify }} {% endfor %}{% for programme in p.programme.all %}programme-{{ programme.name|slugify }} {% endfor %}{% for service_offered in p.service_offered.all %}service-offered-{{ service_offered.name|slugify }} {% endfor %}{% for region in p.region.all %}region-{{ region.name|slugify }} {% endfor %}" >
          <div class="logo-container align-center no-margin-bottom">
								{% if p.partner_website and not p.dedicated_partner_page %}
	            		<a title="Vist the {{ p.name }} website" onclick="ga('send', 'event', 'External Link', '{{ p.name }} - find a partner page', 'From {{ p.name }} find-a-partner result image link');" href="{{ p.partner_website }}">{% else %}
	            		<a onclick="ga('send', 'event', 'Internal Link', '{{ p.name }} - find a partner page', 'From {{ p.name }} find-a-partner result image link');" href="/{{ p.slug }}">{% endif %}
									<img src="{{ p.logo }}" alt="{{ p.name }} logo" /></a>
          </div>
          <div class="no-margin-bottom">
            <h3>
            	{% if p.dedicated_partner_page or p.partner_website %}
	            	{% if p.partner_website and not p.dedicated_partner_page %}
	            		<a title="Vist the {{ p.name }} website" class="external" onclick="ga('send', 'event', 'External Link', '{{ p.name }} - find a partner page', 'From {{ p.name }} find-a-partner result link');" href="{{ p.partner_website }}">
	            	{% else %}
	            		<a onclick="ga('send', 'event', 'Internal Link', '{{ p.name }} - find a partner page', 'From {{ p.name }} find-a-partner result link');" href="/{{ p.slug }}">
	            	{% endif %}
	            		{{ p.name }}{% if p.dedicated_partner_page %}&nbsp;&rsaquo;{% endif %}
									</a>
							{% else %}
									{{ p.name }}
							{% endif %}
            </h3>
            <p>{{ p.short_description }}</p>
          </div>
          {% if p.logo %}
          {% endif %}
      </div><!-- /.box -->
      {% endfor %}
  </div><!-- /#results -->
</div><!-- /row -->

{% include "templates/_contextual-footer.html" %}

{% endblock %}

{% block footer_extra %}
<script src="{{ STATIC_URL }}js/find-a-partner.js"></script>
{% endblock %}